<% title 'Downloads' %>

<% if policy(Download).new? %>
  <%=
    link_to(
      'New Download',
      new_admin_download_path,
      class: 'btn btn-primary mb-3',
      role: 'button'
    )
  %>
<% end %>

<% if @downloads %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Category</th>
        <th scope="col">Contributors</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @downloads.each do |download| %>
        <tr>
          <td><%= link_to download.name, download_path(download) %></td>
          <td><%= download.description %></td>
          <td>
            <%=
              link_to(
                download.category.name,
                category_path(download.category)
              )
            %>
          </td>
          <td>
            <ul>
              <% download.contributor_profiles.each do |contributor_profile| %>
                <li>
                  <%=
                    link_to(
                      contributor_profile.name,
                      contributor_profile_path(contributor_profile)
                    )
                  %>
                </li>
              <% end %>
            </ul>
          </td>
          <td>
            <% if policy(download).edit? %>
              <%=
                link_to(
                  'Edit',
                  edit_admin_download_path(download),
                  class: 'btn btn-warning',
                  role: 'button'
                )
               %>
            <% end %>
          </td>
          <td>
            <% if policy(download).destroy? %>
              <%=
                link_to(
                  'Delete',
                  [:admin, download],
                  data: {
                    confirm: 'Are you sure you want to delete this download?'
                  },
                  method: :delete,
                  class: 'btn btn-danger',
                  role: 'button'
                )
              %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= paginate @downloads, views_prefix: 'admin' %>
