<% title 'Downloads' %>

<% if policy(Download).new? %>
  <%=
    link_to(
      'New Download',
      new_admin_download_path,
      class: 'btn btn-primary mb-3',
      role: 'button'
    )
  %>
<% end %>

<% if @downloads %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"><%= link_to_sort 'name' %></th>
        <th scope="col"><%= link_to_sort 'description' %></th>
        <th scope="col">Category</th>
        <th scope="col">Contributors</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @downloads.each do |download| %>
        <tr>
          <%=
            render(
              partial: 'admin/shared/table/name',
              locals: { resource: download, path: download_path(download) }
            )
          %>
          <%=
            render(
              partial: 'admin/shared/table/description',
              locals: { resource: download }
            )
          %>
          <%=
            render(
              partial: 'admin/shared/table/category',
              locals: { category: download.category }
            )
          %>
          <%=
            render(
              partial: 'admin/shared/table/contributor_profiles',
              locals: { contributor_profiles: download.contributor_profiles }
            )
          %>
          <%=
            render(
              partial: 'admin/shared/table/edit_button',
              locals: {
                resource: download, path: edit_admin_download_path(download)
              }
            )
          %>
          <%=
            render(
              partial: 'admin/shared/table/delete_button',
              locals: { resource: download, resource_name: 'download' }
            )
          %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= paginate @downloads, views_prefix: 'admin' %>
