<% title 'Shares' %>

<%=
  render(
    partial: 'admin/shared/table/new_button',
    locals: {
      resource: Share,
      resource_name: 'Share',
      path: new_admin_share_path
    }
  )
%>

<%= render 'url_form', { q: @q, path: admin_shares_path } %>

<% if @shares %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"><%= sort_link @q, :url, 'URL' %></th>
        <th scope="col"><%= sort_link @q, :comment %></th>
        <th scope="col"><%= sort_link @q, :category_name, 'Category' %></th>
        <th scope="col"><%= sort_link @q, :contributor, 'Contributor' %></th>
        <th scope="col"><%= sort_link @q, :created_at, 'Created' %></th>
        <th scope="col"><%= sort_link @q, :updated_at, 'Modified' %></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @shares.each do |share| %>
        <tr>
          <td><%= link_to share.url, share.url %></td>
          <td>
            <% if share.comment %>
              <%= truncated_text(share.comment, 50) %>
            <% end %>
          </td>
          <%=
            render(
              partial: 'admin/shared/table/category',
              locals: { category: share.category }
            )
          %>
          <td>
            <%=
              link_to(
                share.contributor_profile.name,
                contributor_profile_path(share.contributor_profile)
              )
            %>
          </td>
          <%=
            render(
              partial: 'admin/shared/table/created_at',
              locals: { resource: share }
            )
          %>
          <%=
            render(
              partial: 'admin/shared/table/updated_at',
              locals: { resource: share }
            )
          %>
          <%= render(
            partial: 'admin/shared/table/revisions_button',
            locals: { resource: share, path: admin_share_path(share) }
          ) %>
          <%=
            render(
              partial: 'admin/shared/table/edit_button',
              locals: {
                resource: share,
                path: edit_admin_share_path(share)
              }
            )
          %>
          <%=
            render(
              partial: 'admin/shared/table/delete_button',
              locals: { resource: share, resource_name: 'share' }
            )
          %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= paginate @shares, views_prefix: 'admin' %>
