<% title 'Pages' %>

<%=
  render(
    partial: 'admin/shared/table/new_button',
    locals: {
      resource: Page, resource_name: 'Page', path: new_admin_page_path
    }
  )
%>

<%=
  render(
    partial: 'admin/shared/search/name_and_draft_form',
    locals: { q: @q, path: admin_pages_path }
  )
%>

<% if @pages %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"><%= sort_link @q, :name %></th>
        <th scope="col"><%= sort_link @q, :page_type, 'Page Type' %></th>
        <th scope="col"><%= sort_link @q, :category_name, 'Category' %></th>
        <th scope="col">Contributors</th>
        <th scope="col"><%= sort_link @q, :created_at, 'Created' %></th>
        <th scope="col"><%= sort_link @q, :updated_at, 'Modified' %></th>
        <th scope="col">
          <%= sort_link @q, :published_at, 'First Published' %>
        </th>
        <th scope="col"><%= sort_link @q, :publish, 'Published' %></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @pages.each do |page| %>
        <tr>
          <td><%= show_picture page, 'page_picture', :mini_thumbnail %></td>
          <% if page.page_type == :literature.to_s %>
            <%=
              render(
                partial: 'admin/shared/table/name',
                locals: { resource: page, path: literature_path(page) }
              )
            %>
          <% elsif page.page_type == :literature_chapter.to_s %>
            <%=
              render(
                partial: 'admin/shared/table/name',
                locals: {
                  resource: page,
                  path: literature_chapter_path(page.parent_page.to_param, page)
                }
              )
            %>
          <% elsif page.page_type == :encyclopaedia.to_s %>
            <%=
              render(
                partial: 'admin/shared/table/name',
                locals: { resource: page, path: encyclopaedia_path(page) }
              )
            %>
          <% else %>
            <%=
              render(
                partial: 'admin/shared/table/name',
                locals: { resource: page, path: top_level_page_path(page.url) }
              )
            %>
          <% end %>
          <td><%= page.page_type.titleize %></td>
          <% if page.category %>
            <%=
              render(
                partial: 'admin/shared/table/category',
                locals: { category: page.category }
              )
            %>
          <% else %>
            <td>N/A</td>
          <% end %>
          <%=
            render(
              partial: 'admin/shared/table/contributor_profiles',
              locals: { contributor_profiles: page.contributor_profiles }
            )
          %>
          <%=
            render(
              partial: 'admin/shared/table/created_at',
              locals: { resource: page }
            )
          %>
          <%=
            render(
              partial: 'admin/shared/table/updated_at',
              locals: { resource: page }
            )
          %>
          <%=
            render(
              partial: 'admin/shared/table/published_at',
              locals: { resource: page }
            )
          %>
          <%=
            render(
              partial: 'admin/shared/table/published',
              locals: { resource: page }
            )
          %>
          <%= render(
            partial: 'admin/shared/table/revisions_button',
            locals: { resource: page, path: admin_page_path(page) }
          ) %>
          <%=
            render(
              partial: 'admin/shared/table/edit_button',
              locals: {
                resource: page, path: edit_admin_page_path(page)
              }
            )
          %>
          <%=
            render(
              partial: 'admin/shared/table/delete_button',
              locals: { resource: page, resource_name: 'page' }
            )
          %>
        </tr>
        <% if page.chapters.count > 0 %>
          <tr>
            <td>
              <h6 class="mt-3">Chapters for <%= page.name %>:</h6>
              <%= render 'new_chapter_button', page: page %>
            </td>
            <td colspan="7">
              <%= render 'chapters', page: page %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= paginate @pages, views_prefix: 'admin' %>
