<% title "Emoticons" %>

<% if policy(Emoticon).new? %>
  <ul class="administration">
    <li><%= link_to 'New Emoticon', new_emoticon_path %></li>
  </ul>
<% end %>

<% if @emoticons %>
  <div id="resources">
    <% @emoticons.each do |emoticon| %>
      <div class="resource">
        <div class="details">
          <h2><%= emoticon.name %></h2>
          <% if can? :manage, emoticon %>
            <ul class="administration">
              <%= link_to 'Delete Emoticon', emoticon, :confirm => 'Are you sure?', :method => :delete %></li>
            </ul>
          <% end %>
          <p><%= image_tag emoticon.emoticon.url %> <%= emoticon.code %></p>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @emoticons %>
<% end %>
