<%= nested_form_for @quiz do |f| %>
  <%= render 'shared/error_messages', target: @quiz %>
  <div>
    <div>
      <%= f.label :contributor_profile_ids, 'Contributors*' %>
    </div>
    <div>
      <%=
        f.collection_select(
          :contributor_profile_ids,
          ContributorProfile.order(:name),
          :id,
          :name,
          { selected: @quiz.contributor_profile_ids, include_blank: true },
          { multiple: true }
        )
      %>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :name, 'Name*' %>
    </div>
    <div>
      <%= f.text_field :name %>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :description, 'Description*' %>
    </div>
    <div>
      <%= f.text_area :description, rows: 3 %>
    </div>
  </div>
  <div>
    <div>
      <label>Questions</label>
    </div>
    <div>
      <%= f.fields_for :quiz_questions %>
      <%= f.link_to_add "Add Question", :quiz_questions %>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :encyclopaedia_entry_ids, 'Related Encyclopaedia Entries' %>
    </div>
    <div>
      <%=
        f.collection_select(
          :encyclopaedia_entry_ids,
          EncyclopaediaEntry.order(:name),
          :id,
          :name,
          { selected: @quiz.encyclopaedia_entry_ids, include_blank: true },
          { multiple: true }
        )
      %>
    </div>
  </div>
  <% if policy(@quiz).permitted_attributes.include? :publish %>
    <div>
      <%= f.check_box :publish %> <%= f.label :publish, 'Publish?' %>
    </div>
  <% end %>
  <div>
    <%= f.submit 'Save and View' %>
    <%= f.submit 'Save and Continue Editing', name: :continue_editing %>
  </div>
<% end %>
