<%= nested_form_for @quiz do |f| %>
  <%= render "shared/error_messages", target: @quiz %>
  <div>
    <%= f.label :name, "Name" %><br />
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description, "Description" %><br />
    <%= f.text_area :description, rows: 5 %>
  </div>
  <%= f.fields_for :quiz_questions %>
  <p><%= f.link_to_add "Add Question", :quiz_questions %></p>
  <label>Contributors</label>
  <div class="scroll_checkboxes">
    <% for contributor_profile in ContributorProfile.order(:name) %>
      <label>
        <%= check_box_tag "quiz[contributor_profile_ids][]", 
          contributor_profile.id,
          @quiz.contributor_profiles.include?(contributor_profile) %>
        <%= contributor_profile.name %>
      </label>
      <br />
    <% end %>
  </div>
  <div>
    <label>Related Encyclopaedia Entries</label>
    <div class="scroll_checkboxes">
      <% for encyclopaedia_entry in EncyclopaediaEntry.order(:name) %>
        <label>
          <%= check_box_tag "quiz[encyclopaedia_entry_ids][]",
            encyclopaedia_entry.id,
            @quiz.encyclopaedia_entries.include?(encyclopaedia_entry) %>
          <%= encyclopaedia_entry.name %>
        </label>
        <br />
      <% end %>
    </div>
  </div>
  <% if policy(@quiz).permitted_attributes.include? :publish %>
    <div>
      <%= f.check_box :publish %> <%= f.label :publish, "Publish?" %>
    </div>
  <% end %>
  <div>
    <%= f.submit "Save and View" %>
    <%= f.submit "Save and Continue Editing", name: :continue_editing %>
  </div>
<% end %>
