<div class="nested-fields">
  <div>
	  <%= f.label :content, 'Question' %>
	</div>
	<div>
	  <%= f.text_area :content, rows: 3 %>
	</div>
  <div>
    <%= link_to_remove_association 'Remove Question', f %><br />
	</div>
	<div>
    <%= f.fields_for :quiz_answers do |quiz_answer_fields| %>
      <%= render 'quiz_answer_fields', f: quiz_answer_fields %>
    <% end %>
    <p><%= link_to_add_association 'Add Answer', f, :quiz_answers %></p>
  </div>
</div>
