<% title @quiz.name %>

<% unless @quiz.publish %>
  <p class="unpublished">Unpublished</p>
<% end %>

<% if policy(@quiz).edit? && policy(@quiz).destroy? %>
  <ul class="administration">
    <li><%= link_to 'Edit Quiz', edit_quiz_path(@quiz) %></li>
    <li><%= link_to 'Delete Quiz', @quiz, :confirm => 'Are you sure you want to delete this quiz?', :method => :delete %></li>
  </ul>
<% end %>

<h2>Created By:</h2>
<ul>
  <% @quiz.dragoons.each do |dragoon| %>
    <li><%= link_to dragoon.name, dragoon %></li>
  <% end %>
</ul>

<% if @show_results %>
  <%= render 'show_results' %>
<% else %>
  <%= render 'show_quiz' %>
<% end %>

<p class="links"><%= link_to 'Quizzes', quizzes_path %></p>