<% title @quiz.name %>
<% description @quiz.description %>

<% if policy(@quiz).edit? %>
  <p>
    <%= link_to 'Edit Quiz', edit_admin_quiz_path(@quiz) %>
  </p>
<% end %>

<% unless @quiz.publish %>
  <p class="unpublished">
    This quiz is not published. Please inform an administrator when it and the
    associated news entry are ready to be published.
  </p>
<% end %>

<h2>Created By:</h2>
<ul class="thumbnail_and_name_list">
  <% @quiz.contributor_profiles.each do |contributor_profile| %>
    <li>
      <%=
        link_to(
          show_avatar(contributor_profile, :mini_thumbnail),
          contributor_profile
        )
      %>
      <h3><%= link_to contributor_profile.name, contributor_profile %></h3>
    </li>
  <% end %>
</ul>

<% if @show_results %>
  <%= render 'show_results' %>
<% else %>
  <%= render 'show_quiz' %>
<% end %>

<p class="links"><%= link_to 'Quizzes', quizzes_path %></p>
