<% title "Guestbook" %>

<% if can? :create, GuestbookEntry %>
	<ul class="administration">
	  <li><%= link_to 'Sign the Guestbook', new_guestbook_entry_path %></li>
	</ul>
<% end %>

<% unless @guestbook_entries.empty? %>
  <div id="resources">
		<% @guestbook_entries.each do |guestbook_entry| %>
		  <div class="resource">
			  <div class="details">
			 	  <h2><%= guestbook_entry.name %></h2>
		      <% if can? :update, guestbook_entry %>
						<ul class="administration">
						  <li><%= link_to 'Edit Guestbook Entry', edit_guestbook_entry_path(guestbook_entry) %></li>
						  <li><%= link_to 'Delete Guestbook Entry', guestbook_entry, :confirm => 'Are you sure you want to delete this guestbook entry?', :method => :delete %></li>
						</ul>
					<% end %>
		      <dl>
						<dt>Date Signed:</dt>
					  <dd><%= friendly_date guestbook_entry.created_at %></dd>
						<% unless guestbook_entry.age.blank? %>
					  	<dt>Age:</dt>
						  <dd><%= guestbook_entry.age.to_s %></dd>
						<% end %>
						<% unless guestbook_entry.gender.blank? %>
					  	<dt>Gender:</dt>
						  <dd><%= guestbook_entry.gender %></dd>
						<% end %>
						<% unless guestbook_entry.country.blank? %>
					  	<dt>Country:</dt>
						  <dd><%= guestbook_entry.country %></dd>
						<% end %>
						<% unless guestbook_entry.favourite_games.blank? %>
					  	<dt>What are your favourite Panzer Dragoon games?</dt>
						  <dd><%= guestbook_entry.favourite_games %></dd>
						<% end %>			
						<% unless guestbook_entry.who_would_win.blank? %>
					  	<dt>Who would win in a fight, Atolm or the Grig Orig?</dt>
						  <dd><%= guestbook_entry.who_would_win %></dd>
						<% end %>
						<% unless guestbook_entry.comments.blank? %>
					  	<dt>Do you have any other comments?</dt>
						  <dd><%= guestbook_entry.comments %></dd>
						<% end %>
						<% unless guestbook_entry.email_address.blank? %>
					  	<dt>Email Address</dt>
						  <dd><%= guestbook_entry.email_address %></dd>
						<% end %>
						<% unless guestbook_entry.website.blank? %>
					  	<dt>Website</dt>
						  <dd><%= guestbook_entry.website %></dd>
						<% end %>
					</dl>
			  </div>
			</div>
		<% end %>
	</div>
<% end %>

<%= paginate @guestbook_entries %>