<% title @dragoon.name %>

<% if policy(@dragoon).edit? %>
  <ul id="administration">
    <li><%= link_to 'Edit Profile', edit_dragoon_path(@dragoon) %></li>
  </ul>
<% end %>

<% if @dragoon.discourse_username.present? %>
  <p>
    <%= link_to "View Forum Profile",
      "http://forums.thewilloftheancients.com/users/" +
      "#{@dragoon.discourse_username.to_s.downcase}"
    %>
  </p>
<% end %>

<% unless @dragoon.avatar_file_name.blank? %>
  <%= image_tag @dragoon.avatar.url(:embedded) %><br />
<% end %>

<% if user_signed_in? %>
  <% if current_user.administrator %>
    <dl>
      <dt>Email Address (only administrators can see this):</dt>
      <dd><%= @dragoon.email_address %></dd>
    </dl>
  <% end %>
<% end %>

<% unless @dragoon.website.blank? && @dragoon.facebook_username.blank? &&
  @dragoon.twitter_username.blank? %>
  <dl>
    <% unless @dragoon.website.blank? %>
      <dt>Website:</dt>
      <dd><%= link_to @dragoon.website, @dragoon.website %></dd>
    <% end %>
    <% unless @dragoon.facebook_username.blank? %>
      <dt>Facebook Username:</dt>
      <dd>
        <%= link_to @dragoon.facebook_username, "http://www.facebook.com/" +
          @dragoon.facebook_username %>
      </dd>
    <% end %>
    <% unless @dragoon.twitter_username.blank? %>
      <dt>Twitter Username:</dt>
      <dd>
        <%= link_to @dragoon.twitter_username, "http://www.twitter.com/" +
          @dragoon.twitter_username %>
      </dd>
    <% end %>
  </dl>
<% end %>

<% unless website_contributions_count(@dragoon) == 0 %>
  <h2>Website Contributions</h2>
  <ul>
    <% unless news_entry_count(@dragoon) == 0 %>
      <li>
        <%= link_to pluralize(news_entry_count(@dragoon), 'news entry'),
          dragoon_news_entries_path(@dragoon) %>
      </li>
    <% end %>
    <% unless article_count(@dragoon) == 0 %>
      <li>
        <%= link_to pluralize(article_count(@dragoon), 'article'),
          dragoon_articles_path(@dragoon) %>
      </li>
    <% end %>
    <% unless download_count(@dragoon) == 0 %>
      <li>
        <%= link_to pluralize(download_count(@dragoon), 'download'),
          dragoon_downloads_path(@dragoon) %>
      </li>
    <% end %>
    <% unless link_count(@dragoon) == 0 %>
      <li>
        <%= link_to pluralize(link_count(@dragoon), 'link'),
          dragoon_links_path(@dragoon) %>
      </li>
    <% end %>
    <% unless music_track_count(@dragoon) == 0 %>
      <li>
        <%= link_to pluralize(music_track_count(@dragoon), 'music track'),
          dragoon_music_tracks_path(@dragoon) %>
      </li>
    <% end %>
    <% unless picture_count(@dragoon) == 0 %>
      <li>
        <%= link_to pluralize(picture_count(@dragoon), 'picture'),
          dragoon_pictures_path(@dragoon) %>
      </li>
    <% end %>
    <% unless poem_count(@dragoon) == 0 %>
      <li>
        <%= link_to pluralize(poem_count(@dragoon), 'poem'),
          dragoon_poems_path(@dragoon) %>
      </li>
    <% end %>
    <% unless quiz_count(@dragoon) == 0 %>
      <li>
        <%= link_to pluralize(quiz_count(@dragoon), 'quiz'),
          dragoon_quizzes_path(@dragoon) %>
      </li>
    <% end %>
    <% unless resource_count(@dragoon) == 0 %>
      <li>
        <%= link_to pluralize(resource_count(@dragoon), 'resource'),
          dragoon_resources_path(@dragoon) %>
      </li>
    <% end %>
    <% unless story_count(@dragoon) == 0 %>
      <li>
        <%= link_to pluralize(story_count(@dragoon), 'story'),
          dragoon_stories_path(@dragoon) %>
      </li>
    <% end %>
    <% unless video_count(@dragoon) == 0 %>
      <li>
        <%= link_to pluralize(video_count(@dragoon), 'video'),
          dragoon_videos_path(@dragoon) %>
      </li>
    <% end %>
  </ul>
  <p>Total: <%= pluralize(website_contributions_count(@dragoon),
    'website contribution') %>.</p>
<% end%>

<p class="links"><%= link_to 'Dragoons', dragoons_path %></p>
