<%= form_for @poem do |f| %>  
  <%= render "shared/error_messages", :target => @poem %>
  <div>
    <%= f.label :name, "Name" %><br />
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description, "Description" %><br />
    <%= f.text_area :description, :rows => 3 %>  
  </div>
  <div>
    <%= f.label :content, "Content" %><br />
    <%= render 'shared/wysiwym_basic_buttons' %>
    <%= f.text_area :content, :class => "data_entry" %>  
  </div>
  <label>Contributors</label>
  <div class="scroll_checkboxes">
    <% for dragoon in Dragoon.order(:name) %>
      <label>
        <%= check_box_tag "poem[dragoon_ids][]", dragoon.id, @poem.dragoons.include?(dragoon) %>  
        <%= dragoon.name %>
      </label>
      <br />
    <% end %>
  </div>
  <label>Tags</label>
  <div class="scroll_checkboxes">
    <% for tag in Tag.order(:name) %>
      <label>
        <%= check_box_tag "poem[tag_ids][]", tag.id, @poem.tags.include?(tag) %>  
        <%= tag.name %>
      </label>
      <br />
    <% end %>
  </div>
  <div>
    <%= f.check_box :publish %> <%= f.label :publish, "Publish?" %>
  </div>
  <div>
    <%= f.submit %>  
  </div>
<% end %>