<% title @poem.name %>
<% description @poem.description %>
<% open_graph_type 'article' %>

<% if policy(@poem).edit? %>
  <p>
    <%= link_to 'Edit Poem', edit_admin_poem_path(@poem) %>
  </p>
<% end %>

<% unless @poem.publish %>
  <p class="unpublished">
    This poem is not published. Please inform an administrator when it and the
    associated news entry are ready to be published.
  </p>
<% end %>

<h2>Written By:</h2>
<ul class="thumbnail_and_name_list">
  <% @poem.contributor_profiles.each do |contributor_profile| %>
    <li>
      <%=
        link_to(
          show_avatar(contributor_profile, :mini_thumbnail),
          contributor_profile
        )
      %>
      <h3><%= link_to contributor_profile.name, contributor_profile %></h3>
    </li>
  <% end %>
</ul>
<%= raw markdown_to_html @poem.content %>

<%= render partial: 'shared/related_encyclopaedia_entries' %>

<p class="links"><%= link_to 'Poems', poems_path %></p>
