<% title @forum.name %>

<% if (can? :manage, @forum) || (can? :create, Discussion) %>
	<ul class="administration">
		<% if can? :create, Discussion %>
		  <li><%= link_to 'New Discussion', new_discussion_path(:forum => @forum) %></li>
		<% end %>
		<% if can? :manage, @forum %>
	    <li><%= link_to 'Edit Forum', edit_forum_path(@forum) %></li>
	    <li><%= link_to 'Delete Forum', @forum, :confirm => 'Are you sure you want to delete this forum? ALL items belonging to this forum will be deleted.', :method => :delete %></li>
	  <% end %>
	</ul>
<% end %>

<p><%= @forum.description %></p>

<% unless @discussions.empty? %>
	<%= render 'discussions/list' %>
	<p><%= link_to 'Forums', forums_path %></p>
<% end %>