<nav class="main-menu" aria-label="Main Menu">
  <ul class="main-menu__list">
    <li class="main-menu__list-item">
      <label class="main-menu__label">
        <%= link_to 'Home', redesign_path, class: 'home-link' %>
      </label>
    </li>
    <% @main_menu_categories.each do |category| %>
      <li class="main-menu__list-item sub-menu">
        <input
          type="radio"
          id="<%= category.slug %>-radio-button"
          name="menu-selection"
          class="main-menu__radio-button"
        />
        <label
          for="<%= category.slug %>-radio-button"
          class="main-menu__label sub-menu__title"
          aria-expanded="false"
          aria-controls="<%= category.slug %>-dropdown"
        >
          <%= category.name %>
        </label>
        <ul class="sub-menu__list" id="<%= category.slug %>-dropdown">
          <% category.categorisations.each do |categorisation| %>
            <li class="sub-menu__list-item">
              <%= link_to(
                categorisation.short_name_in_parent,
                categorisation.subcategory
              ) %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
    <li class="main-menu__list-item sub-menu">
      <input
        type="radio"
        id="beyond-radio-button"
        name="menu-selection"
        class="main-menu__radio-button"
      />
      <label
        for="beyond-radio-button"
        class="main-menu__label sub-menu__title"
        aria-expanded="false"
        aria-controls="beyond-dropdown"
      >
        Beyond
      </label>
      <ul class="sub-menu__list" id="beyond-dropdown">
        <li class="sub-menu__list-item">
          <a href="https://discuss.panzerdragoonlegacy.com">
            <i class="fab fa-discourse"></i> Forum
          </a>
        </li>
        <li class="sub-menu__list-item">
          <a href="https://discordapp.com/invite/N3mrMh6">
            <i class="fab fa-discord"></i> Discord
          </a>
        </li>
        <li class="sub-menu__list-item">
          <a href="https://steamcommunity.com/groups/panzerdragoon">
            <i class="fab fa-steam"></i> Steam Group
          </a>
        </li>
        <li class="sub-menu__list-item">
          <a href="https://panzerdragoon.fandom.com">
            <i class="fas fa-book-open"></i> Wiki
          </a>
        </li>
        <li>
          <hr />
        </li>
        <li class="sub-menu__list-item">
          <a href="https://www.facebook.com/panzerdragoonlegacy">
            <i class="fab fa-facebook-f"></i> Facebook
          </a>
        </li>
        <li class="sub-menu__list-item">
          <a href="https://www.twitter.com/panzerlegacy">
            <i class="fab fa-twitter"></i> Twitter
          </a>
        </li>
        <li class="sub-menu__list-item">
          <a href="https://www.instagram.com/panzerdragoonlegacy">
            <i class="fab fa-instagram"></i> Instagram
          </a>
        </li>
        <li class="sub-menu__list-item">
          <a href="https://www.youtube.com/c/thewilloftheancients">
            <i class="fab fa-youtube"></i> YouTube
          </a>
        </li>
      </ul>
    </li>
    <li class="main-menu__list-item main-menu__search">
      <%= form_with url: redesign_search_index_path, method: :get do |form| %>
        <%= form.text_field :query, placeholder: 'Search...' %>
      <% end %>
    </li>
  </ul>
</nav>
