<div
  class="nested-fields card mb-3"
  style="width: 390px;"
>
  <% if f.object.picture_file_name.blank? %>
    <div class="card-body">
      <h3 class="card-title">New Picture</h3>
      <%= render 'admin/shared/form/image_type_warning' %>
      <%= f.file_field :picture %>
    </div>
  <% else %>
    <% if is_jpeg(f.object.picture.url) %>
      <%= image_tag f.object.picture.url, class: 'card-img-top' %>
    <% end %>
    <div class="card-body">
      <% unless is_jpeg(f.object.picture.url) %>
        <%= render 'admin/shared/form/image_type_warning' %>
      <% end %>
      <%=
        link_to_remove_association(
          'Remove Picture',
          f,
          role: 'button',
          class: 'btn btn-danger'
        )
      %>
    </div>
  <% end %>
  <div class="p-3">
    <!-- Load picture's contributor profiles so that the synchronise_attributes
        method in the controller won't think they're empty. -->
    <div style="display: none;">
      <%= render(
        partial: 'admin/shared/form/contributors',
        locals: {
          f: f,
          contributor_profile_ids: f.object.contributor_profile_ids
        }
      ) %>
    </div>
    <%= render partial: 'admin/shared/form/sequence_number', locals: { f: f } %>
    <%= render partial: 'admin/shared/form/source_url', locals: { f: f } %>
    <%= render partial: 'admin/shared/form/name', locals: { f: f } %>
    <%= render partial: 'admin/shared/form/description', locals: { f: f } %>
    <%= render(
      partial: 'admin/shared/form/extra_information', locals: { f: f }
    ) %>
    <!-- Load picture's tags so that the synchronise_attributes method in the
         controller won't think they're empty. -->
    <div style="display: none;">
      <%= render(
        partial: 'admin/shared/form/tags',
        locals: { f: f, tag_ids: f.object.tag_ids }
      ) %>
    </div>
  </div>
</div>
