<%= form_for @discussion do |f| %>  
  <%= render "shared/error_messages", :target => @discussion %>    
  <div>  
    <%= f.label :forum_id, "Forum" %>  
    <%= f.collection_select :forum_id, @forums, :id, :name, :include_blank => false %> 
  </div>
  <div>
    <%= f.label :subject, "Subject" %>
    <%= f.text_field :subject %>  
  </div>
  <div>
    <%= f.label :message, "Message" %>
    <%= render 'shared/wysiwym_basic_buttons' %>
    <%= render 'shared/emoticons' %>
    <%= f.text_area :message, :class => "data_entry" %>  
  </div>
  <% if can? :manage, Discussion %>
	  <div>
	    <%= f.check_box :sticky %> <%= f.label :sticky, "Sticky?" %>
	  </div>
	<% end %>
  <div>
    <%= f.submit %>  
  </div>
<% end %>