<% title @discussion.subject %>

<div id="resources">
  <div class="resource">
    <div class="comment_thumbnail">
      <% if @discussion.dragoon.avatar_file_name.blank? %>
        <%= image_tag("default-avatar.jpg") %>
      <% else %>
        <%= image_tag @discussion.dragoon.avatar.url(:thumbnail) %><br />
      <% end %>
    </div>
    <div class="comment_details">
      <p class="name_and_date">
        Posted by <%= link_to @discussion.dragoon.name, dragoon_path(@discussion.dragoon) %> <%= time_ago_in_words(@discussion.created_at) %> ago.
        <span class="unviewed">
          <% if @discussion_unviewed %>
            <%= "New!" %>
          <% end %>
        </span>
      </p>
      <div>
        <%= raw markdown_to_html @discussion.message %>
      </div>
      <% if can? :manage, @discussion %>
        <ul class="comment_administration">
          <li><%= link_to 'Edit Discussion', edit_discussion_path(@discussion) %></li>
          <li><%= link_to 'Delete Discussion', @discussion, :confirm => 'Are you sure you want to delete this discussion? ALL comments belonging to this discussion will be deleted.', :method => :delete %></li>
        </ul>
      <% end %>
    </div>
  </div>
  <%= render :partial => 'comments/comments' %>
</div>

<% if can? :create, Comment %>
 <%= render :partial => 'comments/new' %>
<% end %>

<p class="links"><%= link_to 'Forums', forums_path %> | <%= link_to @discussion.forum.name, forum_path(@discussion.forum) %></p>