<%= form_for @download, html: { multipart: true } do |f| %>
  <%= render "shared/error_messages", target: @download %>
  <div>
    <%= f.label :category_id, "Category" %><br />
    <%= f.collection_select :category_id, @categories, :id, :name,
      include_blank: false %>
  </div>
  <div>
    <%= f.label :download, "Download" %><br />
    <% if @download.download? %>
    File has already been uploaded. Replace file?<br />
    <% end %>
    <%= f.file_field :download %>
  </div>
  <div>
    <%= f.label :name, "Name" %><br />
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description, "Description" %><br />
    <%= f.text_area :description, rows: 3 %>
  </div>
  <label>Contributors</label>
  <div class="scroll_checkboxes">
    <% for contributor_profile in ContributorProfile.order(:name) %>
      <label>
        <%= check_box_tag "download[contributor_profile_ids][]", 
          contributor_profile.id, @download.contributor_profiles.include?(
          contributor_profile) %> <%= contributor_profile.name %>
      </label>
      <br />
    <% end %>
  </div>
  <div>
    <label>Related Encyclopaedia Entries</label>
    <div class="scroll_checkboxes">
      <% for encyclopaedia_entry in EncyclopaediaEntry.order(:name) %>
        <label>
          <%= check_box_tag "download[encyclopaedia_entry_ids][]",
            encyclopaedia_entry.id,
            @download.encyclopaedia_entries.include?(encyclopaedia_entry)
          %> <%= encyclopaedia_entry.name %>
        </label>
        <br />
      <% end %>
    </div>
  </div>
  <% if policy(@download).permitted_attributes.include? :publish %>
    <div>
      <%= f.check_box :publish %> <%= f.label :publish, "Publish?" %>
    </div>
  <% end %>
  <div>
    <%= f.submit "Save and View" %>
    <%= f.submit "Save and Continue Editing", name: :continue_editing %>
  </div>
<% end %>
