<% title @download.name %>
<% description @download.description %>
<% if @download.download_picture.present? %>
  <% open_graph_image(
    ENV['WEBSITE_URL'].chomp('/') + @download.download_picture.url(:original)
  ) %>
<% end %>

<% if policy(@download).edit? %>
  <p class="admin-section">
    <%= link_to 'Edit Download', edit_admin_download_path(@download) %>
  </p>
<% end %>

<% unless @download.publish && @download.category.publish %>
  <%= render partial: 'shared/draft' %>
<% end %>

<article class="download">
  <header class="download__header">
    <% if @download.download_picture.present? %>
      <%= show_picture @download, 'download_picture', :embedded %>
    <% end %>
    <%= render(
      partial: 'shared/contributed_by',
      locals: { contributor_profiles: @download.contributor_profiles }
    ) %>
  </header>
  <div class="download__body">
    <ul class="download__details">
      <% if @download.published_at %>
        <li>Published <%= local_date @download.published_at %></li>
      <% end %>
      <li><%= link_to 'Download Zip File', @download.download.url %></li>
    </ul>
    <p class="download__description">
      <%= @download.description %>
    </p>
    <% unless @download.information.blank? %>
      <div class="download__extra-information">
        <%= raw markdown_to_html @download.information %>
      </div>
    <% end %>
  </div>
  <footer class="download__footer">
    <%= render(
      partial: 'shared/related_tags',
      locals: { tags: @tags }
    ) %>
  </footer>
</article>
