<% title @download.name %>
<% description @download.description %>

<% if !@download.publish %>
  <p class="unpublished">Unpublished</p>
<% elsif !@download.category.publish %>
  <p class="unpublished">Published in Unpublished Category</p>
<% end %>

<%
  if (
    policy(@download).new? ||
    policy(@download).edit? ||
    policy(@download).destroy?
  )
%>
  <ul class="administration">
    <% if policy(@download).new? %>
      <li>
        <%=
          link_to(
            'New Download', new_download_path(category: @download.category)
          )
        %>
      </li>
    <% end %>
    <% if policy(@download).edit? %>
      <li>
        <%= link_to 'Edit Download', edit_download_path(@download) %>
      </li>
    <% end %>
    <% if policy(@download).destroy? %>
      <li>
        <%=
          link_to(
            'Delete Download',
            @download,
            data: { confirm: 'Are you sure you want to delete this download?' },
            method: :delete
          )
        %>
      </li>
    <% end %>
  </ul>
<% end %>

<h2>Contributed By:</h2>
<ul class="thumbnail_and_name_list">
  <% @download.contributor_profiles.each do |contributor_profile| %>
    <li>
      <%=
        link_to(
          show_avatar(contributor_profile, :mini_thumbnail),
          contributor_profile
        )
      %>
      <h3><%= link_to contributor_profile.name, contributor_profile %></h3>
    </li>
  <% end %>
</ul>

<p><%= @download.description %></p>

<% unless @download.information.blank? %>
  <%= raw markdown_to_html @download.information %>
<% end %>

<%= link_to 'Download File', @download.download.url %>

<%= render partial: 'shared/related_encyclopaedia_entries' %>

<p class="links">
  <%= link_to 'Downloads', downloads_path %> |
  <%= link_to @download.category.name, category_path(@download.category) %>
</p>
