<% title @download.name %>
<% description @download.description %>

<% if !@download.publish %>
  <p class="unpublished">
    This download is not published. Please inform an administrator when it and
    the associated news entry are ready to be published.
  </p>
<% elsif !@download.category.publish %>
  <p class="unpublished">Published in Unpublished Category</p>
<% end %>

<h2>Contributed By:</h2>
<ul class="thumbnail_and_name_list">
  <% @download.contributor_profiles.each do |contributor_profile| %>
    <li>
      <%=
        link_to(
          show_avatar(contributor_profile, :mini_thumbnail),
          contributor_profile
        )
      %>
      <h3><%= link_to contributor_profile.name, contributor_profile %></h3>
    </li>
  <% end %>
</ul>

<p><%= @download.description %></p>

<% unless @download.information.blank? %>
  <%= raw markdown_to_html @download.information %>
<% end %>

<%= link_to 'Download File', @download.download.url %>

<div class="embedded_picture_container">
  <%= show_picture(@download, 'download_picture', :embedded) %>
</div>

<%= render partial: 'shared/related_encyclopaedia_entries' %>

<p class="links">
  <%= link_to 'Downloads', downloads_path %> |
  <%= link_to @download.category.name, category_path(@download.category) %>
</p>
