<% title @download.name %>

<% unless @download.publish %>
  <p class="unpublished">Unpublished</p>
<% end %>

<% if can? :manage, @download %>
  <ul class="administration">
    <li><%= link_to 'Edit Download', edit_download_path(@download) %></li>
    <li><%= link_to 'Delete Download', @download, :confirm => 'Are you sure you want to delete this download?', :method => :delete %></li>
  </ul>
<% end %>

<h2>Contributed By:</h2>
<ul>
  <% @download.dragoons.each do |dragoon| %>
    <li><%= link_to dragoon.name, dragoon %></li>
  <% end %>
</ul>

<p><%= @download.description %></p>

<%= link_to "Download File", @download.download.url %>

<% if can? :manage, Tag %>
  <h2>Tags:</h2>
  <ul>
    <% @download.tags.each do |tag| %>
      <li><%= link_to tag.name, tag %></li>
    <% end %>
  </ul>
<% end %>

<p class="links"><%= link_to 'Downloads', downloads_path %> | <%= link_to @download.category.name, category_path(@download.category) %></p>