<% title 'Articles' %>

<%=
  render(
    partial: 'admin/shared/table/new_button',
    locals: {
      resource: Article, resource_name: 'Article', path: new_admin_article_path
    }
  )
%>

<% if @articles %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"><%= link_to_sort 'name' %></th>
        <th scope="col"><%= link_to_sort 'description' %></th>
        <th scope="col">Category</th>
        <th scope="col">Contributors</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <%=
            render(
              partial: 'admin/shared/table/name',
              locals: { resource: article, path: article_path(article) }
            )
          %>
          <%=
            render(
              partial: 'admin/shared/table/description',
              locals: { resource: article }
            )
          %>
          <%=
            render(
              partial: 'admin/shared/table/category',
              locals: { category: article.category }
            )
          %>
          <%=
            render(
              partial: 'admin/shared/table/contributor_profiles',
              locals: { contributor_profiles: article.contributor_profiles }
            )
          %>
          <%=
            render(
              partial: 'admin/shared/table/edit_button',
              locals: {
                resource: article, path: edit_admin_article_path(article)
              }
            )
          %>
          <%=
            render(
              partial: 'admin/shared/table/delete_button',
              locals: { resource: article, resource_name: 'article' }
            )
          %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= paginate @articles, views_prefix: 'admin' %>
