<div class="illustration nested-fields">
  <% if f.object.illustration_file_name.blank? %>
    <%= f.file_field :illustration %>
  <% else %>
    <%= image_tag f.object.illustration.url(:embedded) %>
    <br />
    <button class="insert_tag">Insert Markdown Tag</button><br />
    Filename: <%= f.object.illustration_file_name %><br />
    <%= link_to 'Popover Image', f.object.illustration.url(:popover) %> |
    <%= link_to 'Original Image', f.object.illustration.url %> |
  <% end %>
  <%= link_to_remove_association 'Remove Illustration', f %><br />
</div>
