<% title @article.name %>
<% description @article.description %>

<% if !@article.publish %>
  <p class="unpublished">Unpublished</p>
<% elsif !@article.category.publish %>
  <p class="unpublished">Published in Unpublished Category</p>
<% end %>

<% if policy(@article).new? or policy(@article).edit? or
  policy(@article).destroy? %>
  <ul class="administration">
    <% if policy(@article).new? %>
      <li>
        <%= link_to 'New Article',
          new_article_path(category: @article.category) %>
      </li>
    <% end %>
    <% if policy(@article).edit? %>
      <li>
        <%= link_to 'Edit Article', edit_article_path(@article) %>
      </li>
    <% end %>
    <% if policy(@article).destroy? %>
      <li>
        <%= link_to 'Delete Article', @article,
          data: { confirm: 'Are you sure you want to delete this article?' },
          method: :delete
        %>
      </li>
    <% end %>
  </ul>
<% end %>

<h2>Written By:</h2>
<ul class="thumbnail_and_name_list">
  <% @article.contributor_profiles.each do |contributor_profile| %>
    <li>
      <%=
        link_to(
          show_avatar(contributor_profile, :mini_thumbnail),
          contributor_profile
        )
      %>
      <h3><%= link_to contributor_profile.name, contributor_profile %></h3>
    </li>
  <% end %>
</ul>

<p id="description"><%= @article.description %></p>

<%= raw illustrated_markdown_to_html @article.id, "Article", @article.content %>

<%= render partial: 'shared/related_encyclopaedia_entries' %>

<p class="links">
  <%= link_to 'Articles', articles_path %> |
  <%= link_to @article.category.name, category_path(@article.category) %>
</p>
