<nav class="contributions-nav">
  <ul class="contributions-nav__list">
    <li class="contributions-nav__list-item">
      <% if params[:media_type] == 'pictures' || !params[:media_type] %>
        Pictures
      <% else %>
        <%= link_to(
          'Pictures',
          redesign_contributions_path(media_type: 'pictures')
        ) %>
      <% end %>
    </li>
    <li class="contributions-nav__list-item">
      <% if params[:media_type] == 'literature' %>
        Literature
      <% else %>
        <%= link_to(
          'Literature',
          redesign_contributions_path(media_type: 'literature')
        ) %>
      <% end %>
    </li>
    <li class="contributions-nav__list-item">
      <% if params[:media_type] == 'music' %>
        Music
      <% else %>
        <%= link_to(
          'Music',
          redesign_contributions_path(media_type: 'music')
        ) %>
      <% end %>
    </li>
    <li class="contributions-nav__list-item">
      <% if params[:media_type] == 'videos' %>
        Videos
      <% else %>
        <%= link_to(
          'Videos',
          redesign_contributions_path(media_type: 'videos')
        ) %>
      <% end %>
    </li>
    <li class="contributions-nav__list-item">
      <% if params[:media_type] == 'downloads' %>
        Downloads
      <% else %>
        <%= link_to(
          'Downloads',
          redesign_contributions_path(media_type: 'downloads')
        ) %>
      <% end %>
    </li>
  </ul>
</nav>
