<h2>Pictures in this Category</h2>
<% if policy(Picture).new? || policy(Album).new? %>
  <ul class="administration">
    <% if policy(Album).new? %>
      <li>
        <%=
          link_to(
            'New Album',
            new_album_path(category: @category)
          )
        %>
      </li>
    <% end %>
    <% if policy(Picture).new? %>
      <li>
        <%=
          link_to(
            'New Picture',
            new_picture_path(category: @category)
          )
        %>
      </li>
    <% end %>
  </ul>
<% end %>
<%= render 'pictures/list' %>
<p>
  <%= link_to 'Site Map', site_map_path %> |
  <%= link_to 'Pictures', pictures_path %>
</p>
