<%
  story.chapters.where(chapter_type: :regular_chapter).order(:number).
    each do |regular_chapter|
%>
  <tr>
    <td><%= regular_chapter.number.to_s %></td>
    <td>
      <% if regular_chapter.name.present? %>
        <%=
          link_to(
            regular_chapter.name,
            chapter_path(regular_chapter)
          )
        %>
      <% else %>
        <%=
          link_to(
            "Chapter #{regular_chapter.number.to_s}",
              chapter_path(regular_chapter)
          )
        %>
      <% end %>
    </td>
    <%= render 'chapter_edit_button', story: story, chapter: regular_chapter %>
    <%=
      render(
        'chapter_delete_button', story: story, chapter: regular_chapter
      )
    %>
  </tr>
<% end %>
