<% title 'Pictures' %>

<%=
  render(
    partial: 'admin/shared/table/new_button',
    locals: {
      resource: Picture,
      resource_name: 'Picture',
      path: new_admin_picture_path
    }
  )
%>

<p>
  Need to upload or edit a set of multiple related pictures? Set up an
  <%= link_to 'album', admin_albums_path %> instead.
</p>

<%=
  render(
    partial: 'admin/shared/search/name_and_draft_form',
    locals: { q: @q, path: admin_pictures_path }
  )
%>

<% if @pictures %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"><%= sort_link @q, :name %></th>
        <th scope="col"><%= sort_link @q, :category_name, 'Category' %></th>
        <th scope="col">Contributors</th>
        <th scope="col"><%= sort_link @q, :created_at, 'Created' %></th>
        <th scope="col"><%= sort_link @q, :updated_at, 'Modified' %></th>
        <th scope="col">
          <%= sort_link @q, :published_at, 'First Published' %>
        </th>
        <th scope="col"><%= sort_link @q, :publish, 'Published' %></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @pictures.each do |picture| %>
        <tr>
          <td>
            <%= link_to show_picture(picture, 'picture', :thumbnail), picture %>
          </td>
          <%=
            render(
              partial: 'admin/shared/table/name',
              locals: {
                resource: picture, path: custom_picture_path(picture)
              }
            )
          %>
          <%=
            render(
              partial: 'admin/shared/table/category',
              locals: { category: picture.category }
            )
          %>
          <%=
            render(
              partial: 'admin/shared/table/contributor_profiles',
              locals: { contributor_profiles: picture.contributor_profiles }
            )
          %>
          <%=
            render(
              partial: 'admin/shared/table/created_at',
              locals: { resource: picture }
            )
          %>
          <%=
            render(
              partial: 'admin/shared/table/updated_at',
              locals: { resource: picture }
            )
          %>
          <%=
            render(
              partial: 'admin/shared/table/published_at',
              locals: { resource: picture }
            )
          %>
          <%=
            render(
              partial: 'admin/shared/table/published',
              locals: { resource: picture }
            )
          %>
          <%= render(
            partial: 'admin/shared/table/revisions_button',
            locals: { resource: picture, path: admin_picture_path(picture) }
          ) %>
          <%=
            render(
              partial: 'admin/shared/table/edit_button',
              locals: {
                resource: picture,
                path: edit_admin_picture_path(picture)
              }
            )
          %>
          <%=
            render(
              partial: 'admin/shared/table/delete_button',
              locals: { resource: picture, resource_name: 'picture' }
            )
          %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= paginate @pictures, views_prefix: 'admin' %>
