<%= form_for @project_task do |f| %>
  <%= render "shared/error_messages", :target => @project_task %>
	<div>
	  <%= f.label :project_id, "Project" %><br />	
    <%= f.collection_select :project_id, @projects, :id, :name, :include_blank => false %>
  </div>
	<div>
	  <%= f.label :dragoon_id, "Dragoon" %><br />	
    <%= f.collection_select :dragoon_id, @dragoons, :id, :name, :include_blank => false %>
  </div>
  <div>
    <%= f.label :name, "Name" %><br />
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.check_box :completed %> <%= f.label :completed, "Completed?" %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>