<%= form_for @user do |f| %>
  <%= render "shared/error_messages", target: @user %>
  <div>
    <%= f.label :email, "Email" %><br />
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :contributor_profile_id, "Contributor Profile" %><br />
    <%= f.collection_select :contributor_profile_id, @contributor_profiles, 
      :id, :name, include_blank: true %>
  </div>
  <div>
    <%= f.check_box :administrator %> 
    <%= f.label :administrator, "Administrator? (Be Careful!)" %>
  </div>
  <div>
    <%= f.submit "Save" %>
  </div>
<% end %>
