<% title "Users" %>

<% if policy(User).new? %>
  <ul class="administration">
    <li><%= link_to 'New User', new_user_path %></li>
  </ul>
<% end %>

<% if @users %>
  <table>
    <tr>
      <th>Admin</th>
      <th>Email</th>
      <th>Contributor Profile</th>
      <th>Confirmed</th>
      <th>Unlocked</th>
      <th colspan="2"></th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.administrator? ? fa_icon('check') : fa_icon('close') %>
        </td>
        <td><%= user.email %></td>
        <td>
          <% if user.contributor_profile %>
            <%= link_to user.contributor_profile.name,
              contributor_profile_path(user.contributor_profile) %>
          <% end %>
        </td>
        <td>
          <% if user.confirmed_at.present? %>
            <%= fa_icon('check') %>
          <% else %>
            <%= fa_icon('close') %>
          <% end %>
        </td>
        <td>
          <%= user.locked_at.blank? ? fa_icon('check') : fa_icon('close') %>
        </td>
        <td>
          <% if policy(user).edit? %>
          <%= link_to 'Edit', edit_user_path(user) %>
          <% end %>
        </td>
        <td>
          <% if policy(user).destroy? %>
            <%= link_to 'Delete', user,
              data: { confirm: 'Are you sure you want to delete this user?' },
              method: :delete %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= paginate @users %>
<% end %>
