<% unless @project_discussions.empty? %>
  <div id="resources">
    <% @project_discussions.each do |project_discussion| %>
      <div class="resource">
        <div class="comment_thumbnail">
          <% if project_discussion.dragoon.avatar_file_name.blank? %>
            <%= image_tag("default-avatar.jpg") %>
          <% else %>
            <%= image_tag project_discussion.dragoon.avatar.url(:thumbnail) %><br />
          <% end %>
        </div>
        <div class="comment_details">
          <p class="name_and_date"><%= link_to project_discussion.subject, project_project_discussion_path(project_discussion.project, project_discussion) %></p>
          <p>
            Posted by <%= link_to project_discussion.dragoon.name, dragoon_path(project_discussion.dragoon) %> <%= time_ago_in_words(project_discussion.created_at) %> ago.
          </p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<%= paginate @project_discussions %>