<% title @video.name %>
<% description @video.description %>
<% if @video.video_picture.present? %>
  <% open_graph_image(
    ENV['WEBSITE_URL'].chomp('/') + @video.video_picture.url(:original)
  ) %>
<% end %>

<% if policy(@video).edit? %>
  <p class="admin-section">
    <%= link_to 'Edit Video', edit_admin_video_path(@video) %>
    <% if @video.album && policy(@video.album).edit? %>
      | <%= link_to 'Edit Album', edit_admin_album_path(@video.album) %>
    <% end %>
  </p>
<% end %>

<% unless @video.publish && @video.category.publish %>
  <%= render partial: 'shared/draft' %>
  <p class="draft">
    Use this Markdown to embed the video in a news entry:
    <code>![](<%= @video.id %>-<%= @video.url %>.mp4)</code>
  </p>
<% end %>

<article class="video">
  <header class="video__header">
    <%= render(
      partial: 'shared/contributed_by',
      locals: { contributor_profiles: @video.contributor_profiles }
    ) %>
    <% if @video.album && album_has_at_least_two_albumables(@video.album) %>
      <%= render(
        partial: 'shared/albums/navigation',
        locals: { albumable: @video }
      ) %>
    <% end %>
  </header>
  <div class="video__body">
    <div class="video__video">
      <video
        controls="true"
        autobuffer="true"
        poster="<%= @video.video_picture.url(:embedded) %>"
      >
        <source type="video/mp4" src="<%= @video.mp4_video.url %>" />
        Your browser does not support the <code>video</code> element.
      </video>
    </div>
    <%= render(
      partial: 'videos/details',
      locals: { video: @video }
    ) %>
    <p class="video__description">
      <%= @video.description %>
    </p>
    <% unless @video.information.blank? %>
      <div class="video__extra-information">
        <%= raw markdown_to_html @video.information %>
      </div>
    <% end %>
  </div>
  <footer class="video__footer">
    <% if @video.album && album_has_at_least_two_albumables(@video.album) %>
      <%= render(
        partial: 'shared/albums/album',
        locals: { album: @video.album, picture_id: nil, video_id: @video.id }
      ) %>
    <% end %>
    <%= render(
      partial: 'shared/related_tags',
      locals: { tags: @tags }
    ) %>
  </footer>
</article>
