<% title @video.name %>
<% description @video.description %>
<% open_graph_type 'video' %>
<% if @video.video_picture.present? %>
  <% open_graph_image(
    "#{root_url.chomp('/')}#{@video.video_picture.url(:original)}"
  ) %>
<% end %>

<% if policy(@video).edit? %>
  <p>
    <%= link_to 'Edit Video', edit_admin_video_path(@video) %>
  </p>
<% end %>

<% if !@video.publish %>
  <p class="unpublished">
    This video is not published. Please inform an administrator when it and the
    associated news entry are ready to be published.
  </p>
<% elsif !@video.category.publish %>
  <p class="unpublished">Published in Unpublished Category</p>
<% end %>
<% if !@video.publish || !@video.category.publish %>
  <p class="unpublished">
    Use this Markdown to embed the video in a news entry:
    <code>![](<%= @video.id %>-<%= @video.url %>.mp4)</code>
  </p>
<% end %>

<h2>Contributed By:</h2>
<ul class="thumbnail_and_name_list">
  <% @video.contributor_profiles.each do |contributor_profile| %>
    <li>
      <%=
        link_to(
          show_avatar(contributor_profile, :mini_thumbnail),
          contributor_profile
        )
      %>
      <h3><%= link_to contributor_profile.name, contributor_profile %></h3>
    </li>
  <% end %>
</ul>

<video
  width="620"
  height="349"
  controls="true"
  autobuffer="true"
  poster="<%= @video.video_picture.url(:embedded) %>">
  <source type="video/mp4" src="<%= @video.mp4_video.url %>" />
  Your browser does not support the <code>video</code> element.
</video>

<p><%= @video.description %></p>

<% unless @video.information.blank? %>
  <%= raw markdown_to_html @video.information %>
<% end %>

<p>
  <% unless @video.youtube_video_id.blank? %>
    Watch Video:
      <%=
        link_to(
          'YouTube',
          "http://www.youtube.com/watch?v=#{@video.youtube_video_id}"
        )
      %>.
  <% end %>
  Download Video: <%= link_to 'MP4', @video.mp4_video.url %>
</p>

<%= render partial: 'shared/related_tags' %>

<p class="links">
  <% if @video.category.saga %>
    <%= link_to(
      @video.category.saga.name, saga_path(@video.category.saga)
    ) %> |
  <% end %>
  <%= link_to 'Videos', videos_path %> |
  <%= link_to @video.category.name, category_path(@video.category) %>
</p>
