<% title @video.name %>
<% description @video.description %>

<% unless @video.publish %>
  <p class="unpublished">Unpublished</p>
<% end %>

<% if policy(@video).edit? && policy(@video).destroy? %>
  <ul class="administration">
    <li>
      <%= link_to 'New Video', new_video_path(category: @video.category) %>
    </li>
    <li><%= link_to 'Edit Video', edit_video_path(@video) %></li>
    <li>
      <%= link_to 'Delete Video', @video, data: {
        confirm: 'Are you sure you want to delete this video?' },
        method: :delete %>
    </li>
  </ul>
<% end %>

<h2>Contributed By:</h2>
<ul>
  <% @video.dragoons.each do |dragoon| %>
    <li><%= link_to dragoon.name, dragoon %></li>
  <% end %>
</ul>

<video width="620" height="349" controls="true" autobuffer="true">
  <source type="video/mp4" src="<%= @video.mp4_video.url %>" />
  <source type="video/webm" src="<%= @video.webm_video.url %>" />
  Your browser does not support the <code>video</code> element.
</video>

<p><%= @video.description %></p>

<% unless @video.information.blank? %>
  <%= raw markdown_to_html @video.information %>
<% end %>

<p>
  <% unless @video.youtube_video_id.blank? %>
    Watch Video: <%= link_to "YouTube", "http://www.youtube.com/watch?v=" +
      @video.youtube_video_id  %>.
  <% end %>
  Download Video: <%= link_to "MP4", @video.mp4_video.url %> |
  <%= link_to "WebM", @video.webm_video.url %>
</p>

<p class="links">
  <%= link_to 'Videos', videos_path %> |
  <%= link_to @video.category.name, category_path(@video.category) %>
</p>
