<% title @video.name %>
<% description @video.description %>
<% open_graph_type 'video' %>
<% if @video.video_picture.present? %>
  <% open_graph_image(
    "#{root_url.chomp('/')}#{@video.video_picture.url(:original)}"
  ) %>
<% end %>

<% if policy(@video).edit? %>
  <p>
    <%= link_to 'Edit Video', edit_admin_video_path(@video) %>
    <% if @video.album && policy(@video.album).edit? %>
      | <%= link_to 'Edit Album', edit_admin_album_path(@video.album) %>
    <% end %>
  </p>
<% end %>

<% if !@video.publish %>
  <p class="unpublished">
    This video is not published. Please inform an administrator when it and the
    associated news entry are ready to be published.
  </p>
<% elsif !@video.category.publish %>
  <p class="unpublished">Published in Unpublished Category</p>
<% end %>
<% if !@video.publish || !@video.category.publish %>
  <p class="unpublished">
    Use this Markdown to embed the video in a news entry:
    <code>![](<%= @video.id %>-<%= @video.url %>.mp4)</code>
  </p>
<% end %>

<h2>Contributed By:</h2>
<ul class="thumbnail_and_name_list">
  <% @video.contributor_profiles.each do |contributor_profile| %>
    <li>
      <%=
        link_to(
          show_avatar(contributor_profile, :mini_thumbnail),
          contributor_profile
        )
      %>
      <h3><%= link_to contributor_profile.name, contributor_profile %></h3>
    </li>
  <% end %>
</ul>

<video
  width="620"
  height="349"
  controls="true"
  autobuffer="true"
  poster="<%= @video.video_picture.url(:embedded) %>">
  <source type="video/mp4" src="<%= @video.mp4_video.url %>" />
  Your browser does not support the <code>video</code> element.
</video>

<p><%= @video.description %></p>

<% unless @video.information.blank? %>
  <%= raw markdown_to_html @video.information %>
<% end %>

<p>
  <% unless @video.source_url.blank? %>
    View Source:
      <%=
        link_to(
          video_source_link_text(@video.source_url),
          @video.source_url
        )
      %>.
  <% end %>
  <% unless @video.youtube_video_id.blank? %>
    Watch Video:
      <%=
        link_to(
          'YouTube',
          "http://www.youtube.com/watch?v=#{@video.youtube_video_id}"
        )
      %>.
  <% end %>
   Download Video: <%= link_to 'MP4', @video.mp4_video.url %>
</p>

<% if @video.album && (@video.album.pictures || @video.album.videos) %>
  <% unless @video.album.pictures == 0 && @video.album.videos == 0 %>
    <h2>Also in this Album</h2>
    <div id="other_pictures_in_album">
      <% @video.album.videos.order(:name).each do |video| %>
        <% unless video.id == @video.id %>
          <%=
            link_to(
              image_tag(
                video.video_picture.url(:mini_thumbnail),
                alt: video.name,
                width: '75',
                height: '75'
              ),
              video
            )
          %>
        <% end %>
      <% end %>
      <% @video.album.pictures.order(:name).each do |picture| %>
        <%=
          link_to(
            image_tag(
              picture.picture.url(:mini_thumbnail),
              alt: picture.name,
              width: '75',
              height: '75'
            ),
            picture
          )
        %>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= render partial: 'shared/related_tags' %>

<p class="links">
  <% if @video.category.saga %>
    <%= link_to(
      @video.category.saga.name, top_level_page_path(@video.category.saga)
    ) %> |
  <% end %>
  <%= link_to 'Videos', videos_path %> |
  <%= link_to @video.category.name, category_path(@video.category) %>
</p>
