<div class="card__details--<%= has_picture ? 'has-picture' : 'no-picture' %>">
  <h1 class="card__heading--<%= has_picture ? 'has-picture' : 'no-picture' %>">
    <%= link_to record.name, record_path %>
  </h1>
  <div class="card__body--<%= has_picture ? 'has-picture' : 'no-picture' %>">
    <% unless record.publish && record.category.publish %>
      <%= render partial: 'shared/draft' %>
    <% end %>
    <% if show_description %>
      <p><%= record.description %></p>
    <% end %>
  </div>
</div>
