<div class="quiz-questions">
  <%= form_tag redesign_quiz_path, method: 'get' do %>
    <ol class="quiz-questions__list">
      <% for quiz_question in @quiz.quiz_questions %>
        <li class="quiz-questions__list-item">
          <span class="quiz-question"><%= quiz_question.content %></span>
          <ul class="quiz_answers__list">
            <% for quiz_answer in quiz_question.quiz_answers %>
              <li class="quiz_answers__list-item">
                <label>
                  <%= radio_button_tag(
                    "results[#{quiz_question.id.to_s}]",
                    quiz_answer.id.to_s,
                    checked = chosen_answer(quiz_question, quiz_answer)
                  ) %>
                  <%= quiz_answer.content %>
                </label>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ol>
    <%= submit_tag 'View Your Score', class: 'quiz-questions__submit' %>
  <% end %>
</div>
