<%= form_for @page, html: { multipart: true } do |f| %>
  <%= render 'shared/error_messages', target: @page %>
  <div>
    <div>
      <%= f.label :name, 'Name*' %>
    </div>
    <div>
      <%= f.text_field :name %>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :content, 'Content*' %>
    </div>
    <div>
      <%= f.text_area :content, rows: 15, class: 'data_entry' %>
      <p>
        (You may use a <a href="/markdown-syntax-guide" target="_blank">limited
        subset of Markdown</a> to format the page's content
      </p>
    </div>
  </div>
  <div>
    <label>Illustrations</label>
    <%= f.fields_for :illustrations do |illustration_fields| %>
      <%= render 'illustration_fields', f: illustration_fields %>
    <% end %>
    <p><%= link_to_add_association 'Add Illustration', f, :illustrations %></p>
  </div>
  <div>
    <%= f.check_box :publish %> <%= f.label :publish, 'Publish?' %>
  </div>
  <div>
    <%= f.submit 'Save and View' %>
    <%= f.submit 'Save and Continue Editing' %>
  </div>
<% end %>
