<% title 'Resources' %>

<%=
  render(
    partial: 'admin/shared/table/new_button',
    locals: {
      resource: Resource,
      resource_name: 'Resource',
      path: new_admin_resource_path
    }
  )
%>

<%=
  render(
    partial: 'admin/shared/search/name_and_draft_form',
    locals: { q: @q, path: admin_resources_path }
  )
%>

<% if @resources %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"><%= sort_link @q, :name %></th>
        <th scope="col"><%= sort_link @q, :category_name, 'Category' %></th>
        <th scope="col">Contributors</th>
        <th scope="col"><%= sort_link @q, :created_at, 'Created' %></th>
        <th scope="col"><%= sort_link @q, :updated_at, 'Modified' %></th>
        <th scope="col">
          <%= sort_link @q, :published_at, 'First Published' %>
        </th>
        <th scope="col"><%= sort_link @q, :publish, 'Published' %></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @resources.each do |resource| %>
        <tr>
          <%=
            render(
              partial: 'admin/shared/table/name',
              locals: { resource: resource, path: resource_path(resource) }
            )
          %>
          <%=
            render(
              partial: 'admin/shared/table/category',
              locals: { category: resource.category }
            )
          %>
          <%=
            render(
              partial: 'admin/shared/table/contributor_profiles',
              locals: { contributor_profiles: resource.contributor_profiles }
            )
          %>
          <%=
            render(
              partial: 'admin/shared/table/created_at',
              locals: { resource: resource }
            )
          %>
          <%=
            render(
              partial: 'admin/shared/table/updated_at',
              locals: { resource: resource }
            )
          %>
          <%=
            render(
              partial: 'admin/shared/table/published_at',
              locals: { resource: resource }
            )
          %>
          <%=
            render(
              partial: 'admin/shared/table/published',
              locals: { resource: resource }
            )
          %>
          <%=
            render(
              partial: 'admin/shared/table/edit_button',
              locals: {
                resource: resource, path: edit_admin_resource_path(resource)
              }
            )
          %>
          <%=
            render(
              partial: 'admin/shared/table/delete_button',
              locals: { resource: resource, resource_name: 'resource' }
            )
          %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= paginate @resources, views_prefix: 'admin' %>
