<%= form_for @project do |f| %>  
  <%= render "shared/error_messages", :target => @project %>    
  <div>
    <%= f.label :name, "Name" %><br />
    <%= f.text_field :name %>  
  </div>
  <div>  
    <%= f.label :description, "Description" %><br />
    <%= f.text_area :description, :rows => 3 %>  
  </div>
  <div>
    <label>Members</label>
    <div class="scroll_checkboxes">
      <% for dragoon in Dragoon.order(:name) %>
        <label>
          <%= check_box_tag "project[dragoon_ids][]", dragoon.id, @project.dragoons.include?(dragoon) %> <%= dragoon.name %>
        </label>
        <br />
      <% end %>
    </div>
  </div>
  <div>  
    <%= f.submit %>
  </div>
<% end %>