<%= form_for @link do |f| %>
  <%= render 'shared/error_messages', target: @link %>
  <div>
    <div>
      <%= f.label :category_id, 'Category' %>
    </div>
    <div>
      <%= f.collection_select :category_id,
        @categories,
        :id,
        :name,
        { include_blank: true }
      %>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :contributor_profile_ids, 'Contributors (optional)' %>
    </div>
    <div>
      <%= f.collection_select :contributor_profile_ids,
        ContributorProfile.order(:name),
        :id,
        :name,
        { selected: @link.contributor_profile_ids, include_blank: true },
        { multiple: true }
      %>
    </div>
  </div>
  <div>
    <%= f.check_box :partner_site %>
    <%= f.label :partner_site, 'Partner Site?' %>
  </div>
  <div>
    <div>
      <%= f.label :name, 'Name' %>
    </div>
    <div>
      <%= f.text_field :name %>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :url, 'URL' %>
    </div>
    <div>
      <%= f.text_field :url %>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :description, 'Description' %>
    </div>
    <div>
      <%= f.text_area :description, rows: 3 %>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :encyclopaedia_entry_ids, 'Related Encyclopaedia Entries' %>
    </div>
    <div>
      <%= f.collection_select :encyclopaedia_entry_ids,
        EncyclopaediaEntry.order(:name),
        :id,
        :name,
        { selected: @link.encyclopaedia_entry_ids, include_blank: true },
        { multiple: true }
      %>
    </div>
  </div>
  <div>
    <%= f.submit 'Save and View' %>
    <%= f.submit 'Save and Continue Editing', name: :continue_editing %>
  </div>
<% end %>
