<%= form_for @link do |f| %>  
  <%= render "shared/error_messages", :target => @link %>    
  <div>
    <%= f.label :category_id, "Category" %><br />
    <%= f.collection_select :category_id, @categories, :id, :name, :include_blank => false %>
  </div>
  <div>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>  
  </div>
  <div>
    <%= f.label :url, "URL" %>
    <%= f.text_field :url %>  
  </div>
  <div>
    <%= f.label :description, "Description" %>
    <%= f.text_area :description, :rows => 5 %>  
  </div>
  <label>Website Owners</label>
  <div class="scroll_checkboxes">
    <% for dragoon in Dragoon.order(:name) %>
      <label>
        <%= check_box_tag "link[dragoon_ids][]", dragoon.id, @link.dragoons.include?(dragoon) %>  
        <%= dragoon.name %>
     </label>
     <br />
    <% end %>
  </div>
  <div>
    <%= f.submit %>  
  </div>
<% end %>