<%= nested_form_for @album, html: { multipart: true } do |f| %>
  <%= render 'shared/error_messages', target: @album %>
  <div>
    <div>
      <%= f.label :category_id, 'Category' %>
    </div>
    <div>
      <%= f.collection_select :category_id,
        @categories,
        :id,
        :name,
        { include_blank: true }
      %>
      <p class="unpublished">
        Warning: changing the album's category will move every picture in the
        album to that category.
      </p>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :contributor_profile_ids, 'Contributors' %>
    </div>
    <div>
      <%= f.collection_select :contributor_profile_ids,
        ContributorProfile.order(:name),
        :id,
        :name,
        { selected: @album.contributor_profile_ids, include_blank: true },
        { multiple: true }
      %>
      <p>
        Pictures in the album with no contributors will inherit the album's
        contributors.
      </p>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :name, 'Name' %>
    </div>
    <div>
      <%= f.text_field :name %>
      <p>
        Pictures in the album with blank names will inherit the album's
        name.
      </p>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :description, 'Description' %>
    </div>
    <div>
      <%= f.text_area :description, rows: 3 %>
      <p>
        Pictures in the album with blank descriptions will inherit the album's
        description.
      </p>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :information, 'Extra Information' %>
    </div>
    <div>
      <%= f.text_area :information, rows: 3 %>
      <p>
        Pictures in the album with blank extra information will inherit the
        album's extra information.
      </p>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :encyclopaedia_entry_ids, 'Related Encyclopaedia Entries' %>
    </div>
    <div>
      <%= f.collection_select :encyclopaedia_entry_ids,
        EncyclopaediaEntry.order(:name),
        :id,
        :name,
        { selected: @album.encyclopaedia_entry_ids, include_blank: true },
        { multiple: true }
      %>
      <p>
        Pictures in the album with no related encyclopaedia entries will
        inherit the album's related encyclopaedia entries.
      </p>
    </div>
  </div>
  <div>
    <label>Pictures</label>
    <%= f.fields_for :pictures do |picture_form| %>
      <div class="illustration">
        <div>
          <%= picture_form.label :name, 'Name' %>
        </div>
        <div>
          <%= picture_form.text_field :name, class: 'child_input' %>
        </div>
        <div>
          <%= picture_form.label :description, 'Description' %>
        </div>
        <div>
          <%= picture_form.text_area :description, class: 'child_input' %>
        </div>
        <div>
          <%= picture_form.label :information, 'Extra Information' %>
        </div>
        <div>
          <%= picture_form.text_area :information, class: 'child_input' %>
        </div>
        <div>
          <%= picture_form.label :picture, 'Picture' %>
        </div>
        <div>
          <% if picture_form.object.picture_file_name.present? %>
            <%= image_tag picture_form.object.picture.url(:thumbnail) %>
            <p>File has already been uploaded. Replace file?</p>
          <% end %>
          <%= picture_form.file_field :picture %>
        </div>
        <%= picture_form.link_to_remove "Delete Picture" %><br />
      </div>
    <% end %>
    <p><%= f.link_to_add "Add New Picture", :pictures %></p>
  </div>
  <% if policy(@album).permitted_attributes.include? :publish %>
    <div>
      <%= f.check_box :publish %> <%= f.label :publish, 'Publish?' %>
      <p class="unpublished">
        Warning: publishing the album will publish every picture in the album.
        Unpublishing the album will unpublish every picture in the album.
      </p>
    </div>
  <% end %>
  <div>
    <%= f.submit 'Save' %>
    <%= f.submit 'Save and Continue Editing', name: :continue_editing %>
  </div>
<% end %>
