<div id="resources">
  <% @albums.each do |album| %>
    <div class="resource">
      <div class="thumbnail">
        <% if album.ordered_pictures.present? %>
          <%= link_to(
            show_picture(album.ordered_pictures.first, 'picture', :thumbnail),
            album.ordered_pictures.first
          ) %>
        <% elsif album.ordered_videos.present? %>
          <%= link_to(
            show_picture(
              album.ordered_videos.first, 'video_picture', :thumbnail
            ),
            album.ordered_videos.first
          ) %>
        <% end %>
      </div>
      <div class="details">
        <h2>
          <% if album.ordered_pictures.present? %>
            <%= link_to album.name, album.ordered_pictures.first %>
          <% elsif album.ordered_videos.present? %>
            <%= link_to album.name, album.ordered_videos.first %>
          <% end %>
        </h2>
        <% unless album.publish %>
          <p class="unpublished">Unpublished</p>
        <% end %>
        <p><%= album.description %></p>
      </div>
    </div>
  <% end %>
</div>
