<% title 'Albums' %>

<% if policy(Album).new? %>
  <ul class="administration">
    <li><%= link_to 'New Album', new_album_path %></li>
  </ul>
<% end %>

<% if @albums %>
  <table>
    <tr>
      <th>Published</th>
      <th>Name</th>
      <th>Category</th>
      <th>Has Pictures</th>
      <th colspan="2"></th>
    </tr>
    <% @albums.each do |album| %>
      <tr>
        <td>
          <%= album.publish? ? fa_icon('check') : fa_icon('close') %>
        </td>
        <td><%= album.name %></th>
        <td><%= link_to album.category.name, album.category %></td>
        <td>
          <% if album.pictures.count > 0 %>
            <%= fa_icon('check') %>
          <% else %>
            <%= fa_icon('close') %>
          <% end %>
        </td>
        <td>
          <% if policy(album).edit? %>
          <%= link_to 'Edit', edit_album_path(album) %>
          <% end %>
        </td>
        <td>
          <% if policy(album).destroy? %>
            <%= link_to 'Delete',
              album,
              data: { confirm: 'Are you sure you want to delete this album?' },
              method: :delete
            %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= paginate @albums %>
<% end %>
