<% if @videos %>
  <div id="resources">
    <% @videos.each do |video| %>
      <div class="resource">
        <div class="thumbnail">
          <%= link_to show_picture(video, 'video_picture', :thumbnail), video %>
        </div>
        <div class="details">
          <h2><%= link_to video.name, video %></h2>
          <p>Published <%= local_time_ago video.published_at %></p>
          <p><%= video.description %></p>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @videos %>
<% end %>
