<% @private_discussion_comments.each do |private_discussion_comment| %>  
  <div class="resource">
    <div class="comment_thumbnail">
		  <% if private_discussion_comment.dragoon.avatar_file_name.blank? %>
		    <%= image_tag("default-avatar.jpg") %>
		  <% else %>
		    <%= image_tag private_discussion_comment.dragoon.avatar.url(:thumbnail) %><br />
		  <% end %>
    </div>
    <div class="comment_details">
	    <p class="name_and_date">Posted by <%= link_to private_discussion_comment.dragoon.name, dragoon_path(private_discussion_comment.dragoon) %> <%= time_ago_in_words(private_discussion_comment.created_at) %> ago.</p>
	    <%= raw markdown_to_html private_discussion_comment.message %>
  		<% if can? :update, private_discussion_comment %>
			  <ul class="comment_administration">
	    	  <li><%= link_to 'Edit Comment', edit_private_discussion_private_discussion_comment_path(private_discussion_comment.private_discussion, private_discussion_comment) %></li>
		      <% if can? :manage, private_discussion_comment %>
		        <li><%= link_to 'Delete Comment', [private_discussion_comment.private_discussion, private_discussion_comment], :confirm => 'Are you sure you want to delete this comment?', :method => :delete %></li>
		      <% end %>
		    </ul>
		  <% end %>
	  </div>
  </div>
<% end %>