<% title @story.name %>
<% description @story.description %>

<% if !@story.publish %>
  <p class="unpublished">
    This story is not published. Please inform an administrator when it and the
    associated news entry are ready to be published.
  </p>
<% elsif !@story.category.publish %>
  <p class="unpublished">Published in Unpublished Category</p>
<% end %>

<% if policy(@story).new? || policy(@story).edit? || policy(@story).destroy? %>
  <ul class="administration">
    <% if policy(@story).new? %>
      <li>
        <%= link_to 'New Story', new_story_path(category: @story.category) %>
      </li>
    <% end %>
    <% if policy(@story).edit? %>
      <li><%= link_to 'New Chapter', new_chapter_path(story: @story) %></li>
    <% end %>
    <% if policy(@story).edit? %>
      <li><%= link_to 'Edit Story', edit_story_path(@story) %></li>
    <% end %>
    <% if policy(@story).destroy? %>
      <li>
        <%=
          link_to(
            'Delete Story',
            @story,
            data: {
              confirm: 'Are you sure you want to delete this story? ALL ' \
                'chapters belonging to this story will be deleted.'
            },
            method: :delete
          )
        %>
      </li>
    <% end %>
  </ul>
<% end %>

<h2>Written By:</h2>
<ul class="thumbnail_and_name_list">
  <% @story.contributor_profiles.each do |contributor_profile| %>
    <li>
      <%=
        link_to(
          show_avatar(contributor_profile, :mini_thumbnail),
          contributor_profile
        )
      %>
      <h3><%= link_to contributor_profile.name, contributor_profile %></h3>
    </li>
  <% end %>
</ul>

<%= raw illustrated_markdown_to_html @story.id, 'Story', @story.content %>

<% if @story.chapters.count > 0 %>
  <h2>Table of Contents:</h2>
  <ul>
  <%
    @story.chapters.where(chapter_type: :prologue).order(:number).
      each do |prologue|
  %>
    <li>
      <%= link_to prologue.name, chapter_path(prologue) %>
    </li>
  <% end %>
  <%
    @story.chapters.where(chapter_type: :regular_chapter).order(:number).
      each do |regular_chapter|
  %>
    <li>
      <% unless regular_chapter.name.blank? %>
        <%=
          link_to(
            "Chapter #{regular_chapter.number.to_s}: #{regular_chapter.name}",
            chapter_path(regular_chapter)
          )
        %>
      <% else %>
        <%=
          link_to(
            "Chapter #{regular_chapter.number.to_s}",
            chapter_path(regular_chapter)
          )
        %>
      <% end %>
    </li>
  <% end %>
  <%
    @story.chapters.where(chapter_type: :epilogue).order(:number).
      each do |epilogue|
  %>
    <li>
      <%= link_to epilogue.name, chapter_path(epilogue) %>
    </li>
  <% end %>
  </ul>
<% end %>

<%= render partial: 'shared/related_encyclopaedia_entries' %>

<p class="links">
  <%= link_to 'Stories', stories_path %> |
  <%= link_to @story.category.name, category_path(@story.category) %>
</p>
