<% title @tag.name %>
<% if @tag.description.present? %>
  <% description truncated_text(@tag.description) %>
<% end %>

<p><%= @tag.description if @tag.description.present? %></p>

<% if @encyclopaedia_entry && policy(@encyclopaedia_entry).show? %>
  <h2>Encyclopaedia Entry</h2>
  <div id="resources">
    <div class="resource">
      <div class="thumbnail">
        <%=
          link_to(
            show_picture(
              @encyclopaedia_entry, 'encyclopaedia_entry_picture', :thumbnail
            ),
            @encyclopaedia_entry
          )
        %>
      </div>
      <div class="details">
        <h2>
          <%= link_to(
            @encyclopaedia_entry.name,
            @encyclopaedia_entry
          ) %>
        </h2>
        <p><%= truncated_text @encyclopaedia_entry.content %></p>
      </div>
    </div>
  </div>
<% end %>

<% if @tag.news_entries.count > 0 %>
  <h2>News Entries</h2>
  <%= render 'news_entries/list' %>
<% end %>

<% MediaType::all.each do |key, value| %>
  <% if @tag.send(key.to_s.pluralize).count > 0 %>
    <h2><%= value %></h2>
    <%= render "#{key.to_s.pluralize}/list"%>
  <% end %>
<% end %>

<p class="links">
  <%= link_to 'Site Map', site_map_path(browse_by: 'tag') %>
</p>
