<% title @tag.name %>
<% if @tag.description.present? %>
  <% description truncated_text(@tag.description) %>
<% end %>
<% open_graph_type 'article' %>
<% if @tag.tag_picture.present? %>
  <% open_graph_image(
    "#{root_path.chomp('/')}#{@tag.tag_picture.url(:original)}"
  ) %>
<% end %>

<% if policy(@tag).edit? %>
  <p>
    <%= link_to 'Edit Tag', edit_admin_tag_path(@tag) %>
  </p>
<% end %>

<% if @tag.tag_picture.present? %>
  <div class="category_picture_container">
    <%= show_picture @tag, 'tag_picture', :embedded %>
  </div>
<% end %>

<p><%= @tag.description if @tag.description.present? %></p>

<% if @encyclopaedia_entry && policy(@encyclopaedia_entry).show? %>
  <h2>Encyclopaedia Entry</h2>
  <div id="resources">
    <div class="resource">
      <div class="thumbnail">
        <%= link_to(
          show_picture(@encyclopaedia_entry, 'page_picture', :thumbnail),
          encyclopaedia_path(@encyclopaedia_entry)
        ) %>
      </div>
      <div class="details">
        <h2>
          <%= link_to(
            @encyclopaedia_entry.name,
            encyclopaedia_path(@encyclopaedia_entry)
          ) %>
        </h2>
        <p><%= truncated_text @encyclopaedia_entry.content %></p>
      </div>
    </div>
  </div>
<% end %>

<% if @tag.news_entries.count > 0 %>
  <h2>News Entries</h2>
  <%= render 'news_entries/list' %>
<% end %>

<% MediaType::all.each do |key, value| %>
  <% if key == :literature %>
    <% if @works_of_literature.count > 0 %>
      <h2><%= value %></h2>
      <%= render 'literature/list', pages: @works_of_literature %>
    <% end %>
  <% elsif @tag.send(key.to_s.pluralize).count > 0 %>
    <h2><%= value %></h2>
    <%= render "#{key.to_s.pluralize}/list" %>
  <% end %>
<% end %>

<p class="links">
  <%= link_to 'Site Map', site_map_path(browse_by: 'tag') %>
</p>
