<%= form_for @category_group do |f| %>
  <%= render "shared/error_messages", target: @category_group %>
  <div>
    <div>
      <%= f.label :category_group_type, "Category Group Type" %>
    </div>
    <div>
      <%= f.collection_select :category_group_type,
        CategoryGroup::CATEGORY_GROUP_TYPES,
        :to_s,
        :titleize
      %>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :name, "Name" %>
    </div>
    <div>
      <%= f.text_field :name %>
    </div>
  </div>
  <div>
    <%= f.submit "Save" %>
    <%= f.submit "Save and Continue Editing", name: :continue_editing %>
  </div>
<% end %>
