<%= form_for @music_track, html: { multipart: true } do |f| %>
  <%= render 'shared/error_messages', target: @music_track %>
  <div>
    <div>
      <%= f.label :category_id, 'Category*' %>
    </div>
    <div>
      <%=
        f.collection_select(
          :category_id,
          @categories,
          :id,
          :name,
          { include_blank: true }
        )
      %>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :contributor_profile_ids, 'Contributors*' %>
    </div>
    <div>
      <%=
        f.collection_select(
          :contributor_profile_ids,
          ContributorProfile.order(:name),
          :id,
          :name,
          {
            selected: @music_track.contributor_profile_ids,
            include_blank: true
          },
          { multiple: true }
        )
      %>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :mp3_music_track, 'MP3 Music Track*' %>
    </div>
    <div>
      <% if @music_track.mp3_music_track? %>
        <p>File has already been uploaded. Replace file?</p>
      <% end %>
      <%= f.file_field :mp3_music_track %>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :flac_music_track, 'FLAC Music Track' %>
    </div>
    <div>
      <% if @music_track.flac_music_track? %>
        <p>File has already been uploaded. Replace file?</p>
      <% end %>
      <%= f.file_field :flac_music_track %>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :track_number, 'Track Number*' %>
    </div>
    <div>
      <%= f.number_field :track_number, { min: 0, max: 50 } %>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :name, 'Name*' %>
    </div>
    <div>
      <%= f.text_field :name %>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :description, 'Description*' %>
    </div>
    <div>
      <%= f.text_area :description, rows: 3 %>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :information, 'Extra Information' %>
    </div>
    <div>
      <%= f.text_area :information, rows: 10, class: 'data_entry' %>
      <p>
        You may use a <a href="/markdown-syntax-guide" target="_blank">limited
        subset of Markdown</a> to format the music track's extra information)
      </p>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :encyclopaedia_entry_ids, 'Related Encyclopaedia Entries' %>
    </div>
    <div>
      <%=
        f.collection_select(
          :encyclopaedia_entry_ids,
          EncyclopaediaEntry.order(:name),
          :id,
          :name,
          {
            selected: @music_track.encyclopaedia_entry_ids,
            include_blank: true
          },
          { multiple: true }
        )
      %>
    </div>
  </div>
  <% if policy(@music_track).permitted_attributes.include? :publish %>
    <div>
      <%= f.check_box :publish %> <%= f.label :publish, 'Publish?' %>
      <p class="unpublished">
        Before publishing, ensure that the metadata saved in the MP3 and FLAC
        files has been cleaned up. Often these are submitted with incorrect or
        incomplete metadata.
      </p>
    </div>
  <% end %>
  <div>
    <%= f.submit 'Save and View' %>
    <%= f.submit 'Save and Continue Editing', name: :continue_editing %>
  </div>
<% end %>
