<% if @dragoon %>
  <% title "#{@dragoon.name}'s Music Tracks" %>
<% else %>
  <% title "Music Tracks" %>
<% end %>

<% if policy(MusicTrack).new? %>
  <ul class="administration">
    <li><%= link_to 'New Music Track', new_music_track_path %></li>
  </ul>
<% end %>

<% unless params[:dragoon_id] %>
  <% unless @categories.empty? %>
    <h2>Categories</h2>
    <ul class="categories">
    <% @categories.each do |category| %>
      <li><%= link_to category.name, category %><% unless category.publish %> - <span class="unpublished">Unpublished</span><% end %></li>
    <% end %>
    </ul>
  <% end %>
  <% unless @music_tracks.empty? %>
    <h2>All Music Tracks</h2>
  <% end %>
<% end %>

<% if @music_tracks %>
  <div id="resources">
    <% @music_tracks.each do |music_track| %>
      <div class="resource">
        <div class="details">
          <h2><%= link_to music_track.name, music_track %></h2>
          <% unless music_track.publish %>
            <p class="unpublished">Unpublished</p>
          <% end %> 
          <p><%= music_track.description %></p>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @music_tracks %>
<% end %>
