<% if @contributor_profile %>
  <% title "#{@contributor_profile.name}'s Music Tracks" %>
<% elsif params[:filter] == 'draft' %>
  <% title "Draft Music Tracks" %>
<% else %>
  <% title "Music Tracks" %>
<% end %>

<% if policy(Category).new? or policy(MusicTrack).new? %>
  <ul class="administration">
    <% if policy(Category).new? %>
      <li>
        <%= link_to 'New Category', new_category_path(
          category_type: :music_track) %>
      </li>
    <% end %>
    <% if policy(MusicTrack).new? %>
      <li><%= link_to 'New Music Track', new_music_track_path %></li>
    <% end %>
  </ul>
<% end %>

<% unless params[:contributor_profile_id] or params[:filter] %>
  <% if @category_groups.present? %>
    <h2>Music Categories</h2>
    <%= render partial: 'site_map/category_groups', locals: {
      category_groups: @category_groups } %>
  <% end %>
  <% if @music_tracks.present? %>
    <h2>All Music Tracks</h2>
  <% end %>
<% end %>

<% if @music_tracks %>
  <div id="resources">
    <% @music_tracks.each do |music_track| %>
      <div class="resource">
        <div class="details">
          <h2><%= link_to music_track.name, music_track %></h2>
          <% unless music_track.publish %>
            <p class="unpublished">Unpublished</p>
          <% end %>
          <p><%= music_track.description %></p>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @music_tracks %>
<% end %>
