<% title @music_track.name %>
<% description @music_track.description %>
<% if @music_track.music_track_picture.present? %>
  <% open_graph_image(
    ENV['WEBSITE_URL'].chomp('/') +
      @music_track.music_track_picture.url(:original)
  ) %>
<% end %>

<% if policy(@music_track).edit? %>
  <p class="admin-section">
    <%= link_to 'Edit Music Track', edit_admin_music_track_path(@music_track) %>
  </p>
<% end %>

<% unless @music_track.publish && @music_track.category.publish %>
  <%= render partial: 'shared/draft' %>
  <p class="draft">
    Use this Markdown to embed the music track in a news entry:
    <code>![](<%= @music_track.id %>-<%= @music_track.url %>.mp3)</code>
  </p>
<% end %>

<article class="music-track">
  <header class="music-track__header">
    <% if @music_track.music_track_picture.present? %>
      <div class="music-track__picture">
        <%= show_picture @music_track, 'music_track_picture', :embedded %>
      </div>
    <% end %>
    <%= render(
      partial: 'shared/contributed_by',
      locals: { contributor_profiles: @music_track.contributor_profiles }
    ) %>
  </header>
  <div class="music-track__body">
    <div class="music-track__audio">
      <audio controls="true" autobuffer="true">
        <source
          type="audio/mp3"
          src="<%= @music_track.mp3_music_track.url %>"
        />
        Your browser does not support the <code>audio</code> element.
      </audio>
    </div>
    <p class="music-track__details">
      <% unless @music_track.track_number == 0 %>
        Track <%= @music_track.track_number.to_s %> of
        <%= @music_track.category.music_tracks.count %>.
      <% end %>
      Download Music Track:
        <%= link_to 'MP3', @music_track.mp3_music_track.url %>
      <% if @music_track.flac_music_track.present? %>
        | <%= link_to 'FLAC', @music_track.flac_music_track.url %>
      <% end %>
    </p>
    <p class="music-track__description">
      <%= @music_track.description %>
    </p>
    <% unless @music_track.information.blank? %>
      <div class="music-track__extra-information">
        <%= raw markdown_to_html @music_track.information %>
      </div>
    <% end %>
  </div>
  <footer class="music-track__footer">
    <%= render(
      partial: 'shared/related_tags',
      locals: { tags: @tags }
    ) %>
  </footer>
</article>
