<% title @music_track.name %>
<% description @music_track.description %>
<% open_graph_type 'music' %>
<% if @music_track.music_track_picture.present? %>
  <% open_graph_image(
    "#{root_url.chomp('/')}#{@music_track.music_track_picture.url(:original)}"
  ) %>
<% end %>

<% if policy(@music_track).edit? %>
  <p>
    <%= link_to 'Edit Music Track', edit_admin_music_track_path(@music_track) %>
  </p>
<% end %>

<% if !@music_track.publish %>
  <p class="unpublished">
    This music track is not published. Please inform an administrator when it
    and the associated news entry are ready to be published.
  </p>
<% elsif !@music_track.category.publish %>
  <p class="unpublished">Published in Unpublished Category</p>
<% end %>
<% if !@music_track.publish || !@music_track.category.publish %>
  <p class="unpublished">
    Use this Markdown to embed the music track in a news entry:
    <code>![](<%= @music_track.id %>-<%= @music_track.url %>.mp3)</code>
  </p>
<% end %>

<h2>Contributed By:</h2>
<ul class="thumbnail_and_name_list">
  <% @music_track.contributor_profiles.each do |contributor_profile| %>
    <li>
      <%=
        link_to(
          show_avatar(contributor_profile, :mini_thumbnail),
          contributor_profile
        )
      %>
      <h3><%= link_to contributor_profile.name, contributor_profile %></h3>
    </li>
  <% end %>
</ul>

<audio controls="true" autobuffer="true">
  <source type="audio/mp3" src="<%= @music_track.mp3_music_track.url %>" />
  Your browser does not support the <code>audio</code> element.
</audio>

<p><%= @music_track.description %></p>

<% unless @music_track.information.blank? %>
  <%= raw markdown_to_html @music_track.information %>
<% end %>

<p>
  <% unless @music_track.track_number == 0 %>
    Track <%= @music_track.track_number.to_s %> of
    <%= @music_track.category.music_tracks.count %>.
  <% end %>
  Download Music Track: <%= link_to 'MP3', @music_track.mp3_music_track.url %>
  <% if @music_track.flac_music_track.present? %>
     | <%= link_to 'FLAC', @music_track.flac_music_track.url %>
  <% end %>
</p>

<div class="embedded_picture_container">
  <%= show_picture(@music_track, 'music_track_picture', :embedded) %>
</div>

<%= render partial: 'shared/related_tags' %>

<p class="links">
  <% if @music_track.category.saga %>
    <%= link_to(
      @music_track.category.saga.name, saga_path(@music_track.category.saga)
    ) %> |
  <% end %>
  <%= link_to 'Music', music_tracks_path %> |
  <%=
    link_to(
      @music_track.category.name, category_path(@music_track.category)
    )
  %>
</p>
