<% title @music_track.name %>

<% unless @music_track.publish %>
  <p class="unpublished">Unpublished</p>
<% end %>

<% if can? :manage, @music_track %>
  <ul class="administration">
    <li><%= link_to 'Edit Music Track', edit_music_track_path(@music_track) %></li>
    <li><%= link_to 'Delete Music Track', @music_track, :confirm => 'Are you sure you want to delete this music track?', :method => :delete %></li>
  </ul>
<% end %>

<h2>Contributed By:</h2>
<ul>
  <% @music_track.dragoons.each do |dragoon| %>
    <li><%= link_to dragoon.name, dragoon %></li>
  <% end %>
</ul>

<audio controls="true" autobuffer="true"> 
  <source type="audio/mp3" src="<%= @music_track.mp3_music_track.url %>" /> 
  <source type="audio/ogg" src="<%= @music_track.ogg_music_track.url %>" />
  Your browser does not support the <code>audio</code> element.
</audio>

<p><%= @music_track.description %></p>

<% unless @music_track.information.blank? %>
  <%= raw markdown_to_html @music_track.information %>
<% end %>

<p><% unless @music_track.track_number == 0 %>Track <%= @music_track.track_number.to_s %> of <%= @music_track.category.music_tracks.count %>. <% end %>Download Music Track: <%= link_to "MP3", @music_track.mp3_music_track.url %> | <%= link_to "Ogg Vorbis", @music_track.ogg_music_track.url %></p>

<p class="links"><%= link_to 'Music', music_tracks_path %> | <%= link_to @music_track.category.name, category_path(@music_track.category) %></p>