<section class="home-news-entries">
  <% news_entries.each do |news_entry| %>
    <article class="home-news-entry">
      <div class="home-news-entry__picture">
        <%= link_to(
          show_picture(news_entry, 'news_entry_picture', :embedded),
          news_entry
        ) %>
      </div>
      <h1 class="home-news-entry__heading">
        <%= link_to news_entry.name, news_entry %>
      </h1>
      <p class="home-news-entry__author-date">
        <%= render(
          partial: 'redesign/home/contributor',
          locals: { contributor_profile: news_entry.contributor_profile }
        ) %> |
        <%= render(
          partial: 'redesign/home/published_at',
          locals: { publishable: news_entry }
        ) %>
      </p>
    </article>
  <% end %>
  <footer class="home-news-entries__pagination">
    <%= paginate news_entries %>
  </footer>
</section>
