<%= render partial: 'shared/meta_tags' %>

<main class="home">
  <% if @featured_news_entry.present? %>
    <%= render(
      partial: 'redesign/home/featured_news_entry',
      locals: { featured_news_entry: @featured_news_entry }
    ) %>
  <% end %>
  <% if @pictures.present? %>
    <%= render(
      partial: 'redesign/home/pictures',
      locals: { pictures: @pictures }
    ) %>
  <% end %>
  <% if @page.present? && @music_track.present? && @video.present? &&
        @download.present? %>
    <section class="home-other-contributions">
      <%= render(
        partial: 'redesign/home/page',
        locals: { page: @page }
      ) %>
      <%= render(
        partial: 'redesign/home/music_track',
        locals: { music_track: @music_track }
      ) %>
      <%= render(
        partial: 'redesign/home/video',
        locals: { video: @video }
      ) %>
      <%= render(
        partial: 'redesign/home/download',
        locals: { download: @download }
      ) %>
    </section>
  <% end %>
  <% if @news_entries && @news_entries.present? %>
    <section class="home-news-entries">
      <%= render(
        partial: 'redesign/shared/news_entries',
        locals: { news_entries: @news_entries }
      ) %>
    </section>
  <% end %>
  <footer class="home__footer"></footer>
</main>
