<% title 'Admin Panel' %>

<div>
  <% if policy(NewsEntry).new? %>
    <%= link_to(
      'New News Entry',
      new_admin_news_entry_path,
      class: 'btn btn-primary mb-3',
      role: 'button'
    ) %>
  <% end %>
  <% if policy(Picture).new? %>
    <%= link_to(
      'New Picture',
      new_admin_picture_path,
      class: 'btn btn-primary mb-3',
      role: 'button'
    ) %>
  <% end %>
  <% if policy(Album).new? %>
    <%= link_to(
      'New Album',
      new_admin_album_path,
      class: 'btn btn-primary mb-3',
      role: 'button'
    ) %>
  <% end %>
</div>

<div>
  <% if policy(ContributorProfile).new? %>
    <%= link_to(
      'New Contributor Profile',
      new_admin_contributor_profile_path,
      class: 'btn btn-secondary mb-3',
      role: 'button'
    ) %>
  <% end %>
  <% if policy(Category).new? %>
    <%= link_to(
      'New Category',
      new_admin_category_path,
      class: 'btn btn-secondary mb-3',
      role: 'button'
    ) %>
  <% end %>
  <% if policy(Tag).new? %>
    <%= link_to(
      'New Tag',
      new_admin_tag_path,
      class: 'btn btn-secondary mb-3',
      role: 'button'
    ) %>
  <% end %>
</div>

<% if current_user %>
  <% if current_user.administrator %>
    <p>
      There's a total of <%= pluralize(draft_count, 'draft') %> on the site.
    </p>
  <% elsif current_user.contributor_profile %>
    <p>
      You have a total of <%= pluralize(draft_count, 'draft') %>.
    </p>
  <% end %>
<% end %>

<% if draft_count > 0 %>
  <ul>
    <%= render 'draft_albums' %>
    <%= render 'draft_categories' %>
    <%= render 'draft_contributor_profiles' %>
    <%= render 'draft_news_entries' %>
    <%= render 'draft_pages' %>
    <%= render 'draft_pictures' %>
    <%= render 'draft_music_tracks' %>
    <%= render 'draft_videos' %>
    <%= render 'draft_downloads' %>
    <%= render 'draft_quizzes' %>
  <ul>
<% end %>
