<% title 'Music Tracks' %>

<%=
  render(
    partial: 'admin/shared/table/new_button',
    locals: {
      resource: MusicTrack,
      resource_name: 'Music Track',
      path: new_admin_music_track_path
    }
  )
%>

<%=
  render(
    partial: 'admin/shared/search/name_and_draft_form',
    locals: { q: @q, path: admin_music_tracks_path }
  )
%>

<% if @music_tracks %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"><%= sort_link @q, :name %></th>
        <th scope="col"><%= sort_link @q, :category_name, 'Category' %></th>
        <th scope="col">Contributors</th>
        <th scope="col"><%= sort_link @q, :created_at, 'Created' %></th>
        <th scope="col"><%= sort_link @q, :updated_at, 'Modified' %></th>
        <th scope="col">
          <%= sort_link @q, :published_at, 'First Published' %>
        </th>
        <th scope="col"><%= sort_link @q, :publish, 'Published' %></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @music_tracks.each do |music_track| %>
        <tr>
          <td>
            <%=
              link_to(
                show_picture(music_track, 'music_track_picture', :thumbnail),
                music_track
              )
            %>
          </td>
          <%=
            render(
              partial: 'admin/shared/table/name',
              locals: {
                resource: music_track, path: music_track_path(music_track)
              }
            )
          %>
          <%=
            render(
              partial: 'admin/shared/table/category',
              locals: { category: music_track.category }
            )
          %>
          <%=
            render(
              partial: 'admin/shared/table/contributor_profiles',
              locals: { contributor_profiles: music_track.contributor_profiles }
            )
          %>
          <%=
            render(
              partial: 'admin/shared/table/created_at',
              locals: { resource: music_track }
            )
          %>
          <%=
            render(
              partial: 'admin/shared/table/updated_at',
              locals: { resource: music_track }
            )
          %>
          <%=
            render(
              partial: 'admin/shared/table/published_at',
              locals: { resource: music_track }
            )
          %>
          <%=
            render(
              partial: 'admin/shared/table/published',
              locals: { resource: music_track }
            )
          %>
          <%=
            render(
              partial: 'admin/shared/table/edit_button',
              locals: {
                resource: music_track,
                path: edit_admin_music_track_path(music_track)
              }
            )
          %>
          <%=
            render(
              partial: 'admin/shared/table/delete_button',
              locals: { resource: music_track, resource_name: 'music track' }
            )
          %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= paginate @music_tracks, views_prefix: 'admin' %>
