<%= nested_form_for @resource, html: { multipart: true } do |f| %>
  <%= render 'shared/error_messages', target: @resource %>
  <div>
    <div>
      <%= f.label :category_id, 'Category' %>
    </div>
    <div>
      <%= f.collection_select :category_id,
        @categories,
        :id,
        :name,
        { include_blank: true }
      %>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :contributor_profile_ids, 'Contributors' %>
    </div>
    <div>
      <%= f.collection_select :contributor_profile_ids,
        ContributorProfile.order(:name),
        :id,
        :name,
        { selected: @resource.contributor_profile_ids, include_blank: true },
        { multiple: true }
      %>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :name %>
    </div>
    <div>
      <%= f.text_field :name %>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :content %>
    </div>
    <div>
      <%= f.text_area :content, rows: 15, class: 'data_entry' %>
      <p>(You may use a <a href="/markdown-syntax-guide" target="_blank">limited
        subset of Markdown</a> to format the resource's content)</p>
    </div>
  </div>
  <div>
    <label>Illustrations</label>
    <%= f.fields_for :illustrations do |illustration_form| %>
      <div class="illustration">
      <% if illustration_form.object.illustration_file_name.blank? %>
        <%= illustration_form.file_field :illustration %>
      <% else %>
        <%= image_tag illustration_form.object.illustration.url(:embedded) %>
        <br />
        <button class="insert_tag">Insert Markdown Tag</button><br />
        Filename: <%= illustration_form.object.illustration_file_name %><br />
        <%= link_to "Popover Image",
          illustration_form.object.illustration.url(:popover) %> |
        <%= link_to "Original Image",
          illustration_form.object.illustration.url %> |
      <% end %>
      <%= illustration_form.link_to_remove "Remove illustration" %><br />
      </div>
    <% end %>
    <p><%= f.link_to_add "Add illustration", :illustrations %></p>
  </div>
  <div>
    <div>
      <%= f.label :encyclopaedia_entry_ids, 'Related Encyclopaedia Entries' %>
    </div>
    <div>
      <%= f.collection_select :encyclopaedia_entry_ids,
        EncyclopaediaEntry.order(:name),
        :id,
        :name,
        { selected: @resource.encyclopaedia_entry_ids, include_blank: true },
        { multiple: true }
      %>
    </div>
  </div>
  <% if policy(@resource).permitted_attributes.include? :publish %>
    <div>
      <%= f.check_box :publish %> <%= f.label :publish, 'Publish?' %>
    </div>
  <% end %>
  <div>
    <%= f.submit 'Save and View' %>
    <%= f.submit 'Save and Continue Editing', name: :continue_editing %>
  </div>
<% end %>
