<% title @resource.name %>

<% unless @resource.publish %>
  <p class="unpublished">Unpublished</p>
<% end %>

<% if policy(@resource).edit? && policy(@resource).destroy? %>
  <ul class="administration">
    <li><%= link_to 'Edit Resource', edit_resource_path(@resource) %></li>
    <li><%= link_to 'Delete Resource', @resource, :confirm => 'Are you sure you want to delete this resource?', :method => :delete %></li>
  </ul>
<% end %>

<h2>Contributed By:</h2>
<ul>
  <% @resource.dragoons.each do |dragoon| %>
    <li><%= link_to dragoon.name, dragoon %></li>
  <% end %>
</ul>

<%= raw illustrated_markdown_to_html @resource.id, "Resource", @resource.content %>

<p class="links"><%= link_to 'Resources', resources_path %> | <%= link_to @resource.category.name, category_path(@resource.category) %></p>