<% title @resource.name %>
<% description truncated_text(@resource.content) %>

<% if !@resource.publish %>
  <p class="unpublished">
    This resource is not published. Please inform an administrator when it and
    the associated news entry are ready to be published.
  </p>
<% elsif !@resource.category.publish %>
  <p class="unpublished">Published in Unpublished Category</p>
<% end %>

<h2>Contributed By:</h2>
<ul class="thumbnail_and_name_list">
  <% @resource.contributor_profiles.each do |contributor_profile| %>
    <li>
      <%=
        link_to(
          show_avatar(contributor_profile, :mini_thumbnail),
          contributor_profile
        )
      %>
      <h3><%= link_to contributor_profile.name, contributor_profile %></h3>
    </li>
  <% end %>
</ul>

<%=
  raw(
    illustrated_markdown_to_html @resource.id, 'Resource', @resource.content
  )
%>

<%= render partial: 'shared/related_encyclopaedia_entries' %>

<p class="links">
  <%= link_to 'Resources', resources_path %> |
  <%= link_to @resource.category.name, category_path(@resource.category) %>
</p>
