<p>Browsing by Media Type...</p>
<ul>
  <li>
    <h2><%= link_to 'Literature', literature_index_path %></h2>
    <%=
      render(
        partial: 'category_groups',
        locals: { category_groups: @literature_category_groups }
      )
    %>
  </li>
  <li>
    <h2><%= link_to 'Downloads', downloads_path %></h2>
    <%=
      render(
        partial: 'category_groups',
        locals: { category_groups: @download_category_groups }
      )
    %>
  </li>
  <li>
    <h2><%= link_to 'Encyclopaedia', encyclopaedia_index_path %></h2>
    <%=
      render(
        partial: 'category_groups',
        locals: { category_groups: @encyclopaedia_category_groups }
      )
    %>
  </li>
  <li>
    <h2><%= link_to 'Music', music_tracks_path %></h2>
    <%=
      render(
        partial: 'category_groups',
        locals: { category_groups: @music_track_category_groups }
      )
    %>
  </li>
  <li>
    <h2><%= link_to 'Pictures', pictures_path %></h2>
    <%=
      render(
        partial: 'category_groups',
        locals: { category_groups: @picture_category_groups }
      )
    %>
  </li>
  <li>
    <h2><%= link_to 'Quizzes', quizzes_path %></h2>
  </li>
  <li>
    <h2><%= link_to 'Videos', videos_path %></h2>
    <%=
      render(
        partial: 'category_groups',
        locals: { category_groups: @video_category_groups }
      )
    %>
  </li>
</ul>
