<% title "Site Map" %>

<p>
  <%= link_to 'Browse By Saga', site_map_path(browse_by: 'saga') %> |
  <%= link_to 'Browse By Media Type', site_map_path(browse_by: 'media_type') %> |
  <%= link_to 'Browse By Tag', site_map_path(browse_by: 'tag') %>
</p>

<% if params[:browse_by] == 'saga' %>
  <%= render partial: 'browse_by_saga', locals: { tags: @tags } %>
<% end %>
<% if params[:browse_by] == 'media_type' %>
  <%= render partial: 'browse_by_media_type', locals: { tags: @tags } %>
<% end %>
<% if params[:browse_by] == 'tag' %>
  <%= render partial: 'browse_by_tag', locals: { tags: @tags } %>
<% end %>
