<% title @saga.name %>
<% if @saga.tag %>
  <% if @saga.tag.description %>
    <% description @saga.tag.description %>
  <% end %>
  <% if @saga.tag.tag_picture.present? %>
    <% open_graph_image(
      ENV['WEBSITE_URL'].chomp('/') + @saga.tag.tag_picture.url(:original)
    ) %>
  <% end %>
<% end %>

<% if policy(@saga).edit? %>
  <p>
    <%= link_to 'Edit Saga', edit_admin_saga_path(@saga) %>
  </p>
<% end %>

<% if @saga.tag && @saga.tag.tag_picture.present? %>
  <div class="category_picture_container">
    <%= show_picture @saga.tag, 'tag_picture', :embedded %>
  </div>
<% end %>

<% if @saga.tag %>
  <h2><%= link_to "Content Tagged With #{@saga.tag.name}", @saga.tag %>
<% end %>

<% if true.in?(@categories.each.map { |key, value| value.present? }) %>
  <h2><%= @saga.name %> Categories</h2>
<% end %>

<% MediaType::all.each do |key, value| %>
  <% if @categories[key].present? %>
    <h3><%= value %></h3>
    <%=
      render(
        partial: 'site_map/categories',
        locals: {
          categories: @categories[key],
          category_parent: :saga
        }
      )
    %>
  <% end %>
<% end %>
