<%= form_for @picture, html: { multipart: true } do |f| %>
  <%= render 'shared/error_messages', target: @picture %>
  <div>
    <div>
      <%= f.label :category_id, 'Category' %>
    </div>
    <div>
      <%= f.collection_select :category_id, @categories, :id, :name,
        { include_blank: true } %>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :album_id, 'Album' %>
    </div>
    <div>
      <%= f.collection_select :album_id, @albums, :id, :name,
        { include_blank: true } %>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :contributor_profile_ids, 'Contributors' %>
    </div>
    <div>
      <%= f.collection_select :contributor_profile_ids,
        ContributorProfile.order(:name), :id, :name,
        { selected: @picture.contributor_profile_ids, include_blank: true },
        { multiple: true } %>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :picture, 'Picture' %>
    </div>
    <div>
      <% if @picture.picture? %>
        <%= image_tag @picture.picture.url(:thumbnail) %>
        <p>File has already been uploaded. Replace file?</p>
      <% end %>
      <%= f.file_field :picture %>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :name, 'Name' %>
    </div>
    <div>
      <%= f.text_field :name %>
      <p>
        (You should refer to the <a href="/naming-convention" target="_blank">
        naming convention</a> when naming pictures)
      </p>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :description, 'Description' %>
    </div>
    <div>
      <%= f.text_area :description, rows: 3 %>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :information, 'Extra Information' %>
    </div>
    <div>
      <%= f.text_area :information, rows: 10 %>
      <p>
        (You may use a <a href="/markdown-syntax-guide" target="_blank">limited
        subset of Markdown</a> to format the pictures's extra information)
      </p>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :encyclopaedia_entry_ids, 'Related Encyclopaedia Entries' %>
    </div>
    <div>
      <%= f.collection_select :encyclopaedia_entry_ids,
        EncyclopaediaEntry.order(:name), :id, :name,
        { selected: @picture.encyclopaedia_entry_ids, include_blank: true },
        { multiple: true } %>
    </div>
  </div>
  <% unless @picture.publish %>
    <div>
      <div>
        <%= f.label :id_of_picture_to_replace, 'Picture to Replace' %>
      </div>
      <div>
        <%= f.collection_select :id_of_picture_to_replace,
          @replaceable_pictures,
          :id,
          :name_and_id,
          { include_blank: true }
        %>
      </div>
    </div>
  <% end %>
  <% if policy(@picture).permitted_attributes.include? :publish %>
    <div>
      <%= f.check_box :publish %> <%= f.label :publish, 'Publish?' %>
    </div>
  <% end %>
  <div>
    <%= f.submit 'Save and View' %>
    <%= f.submit 'Save and Continue Editing', name: :continue_editing %>
  </div>
<% end %>
