<% title @picture.name %>
<% description @picture.description %>
<% if @picture.picture.present? %>
  <% if @picture.controversial_content? %>
    <% open_graph_image(
      image_pack_tag('media/images/controversial-content-embedded.jpg')
    ) %>
  <% else %>
    <% open_graph_image(
      ENV['WEBSITE_URL'].chomp('/') + @picture.picture.url(:original)
    ) %>
  <% end %>
<% end %>

<% if policy(@picture).edit? %>
  <p class="admin-section">
    <%= link_to 'Edit Picture', edit_admin_picture_path(@picture) %>
    <% if @picture.album && policy(@picture.album).edit? %>
      | <%= link_to 'Edit Album', edit_admin_album_path(@picture.album) %>
    <% end %>
  </p>
<% end %>

<% unless @picture.publish && @picture.category.publish %>
  <%= render partial: 'shared/draft' %>
  <p class="draft">
    Use this Markdown to embed the picture in a news entry:
    <code>![](<%= @picture.id %>-<%= @picture.url %>.jpg)</code>
  </p>
<% end %>

<article class="picture">
  <header class="picture__header">
    <%= render(
      partial: 'shared/contributed_by',
      locals: { contributor_profiles: @picture.contributor_profiles }
    ) %>
    <% if @picture.album %>
      <%= render(
        partial: 'shared/albums/navigation',
        locals: { albumable: @picture }
      ) %>
    <% end %>
  </header>
  <div class="picture__body">
    <div class="picture__picture">
      <% if @picture.full_size_link %>
        <%= link_to(
          show_picture(@picture, 'picture', :embedded), @picture.picture.url
        ) %>
      <% else %>
        <%= show_picture @picture, 'picture', :embedded %>
      <% end %>
    </div>
    <%= render(
      partial: 'pictures/details',
      locals: { picture: @picture }
    ) %>
    <p class="picture__description"><%= @picture.description %></p>
    <% unless @picture.information.blank? %>
      <div class="picture__extra-information">
        <%= raw markdown_to_html @picture.information %>
      </div>
    <% end %>
  </div>
  <footer class="picture__footer">
    <% if @picture.album && album_has_at_least_one_albumable(@picture.album) %>
      <%= render(
        partial: 'shared/albums/album',
        locals: {
          album: @picture.album, picture_id: @picture.id, video_id: nil
        }
      ) %>
    <% end %>
    <%= render(
      partial: 'shared/related_tags',
      locals: { tags: @tags }
    ) %>
  </footer>
</article>
