<% title @picture.name %>
<% description @picture.description %>
<% open_graph_type 'image' %>
<% if @picture.picture.present? %>
  <% open_graph_image(
    "#{root_url.chomp('/')}#{@picture.picture.url(:original)}"
  ) %>
<% end %>

<% if !@picture.publish %>
  <p class="unpublished">
    This picture is not published. Please inform an administrator when it and
    the associated news entry are ready to be published.
  </p>
<% elsif !@picture.category.publish %>
  <p class="unpublished">Published in Unpublished Category</p>
<% end %>
<% if !@picture.publish || !@picture.category.publish %>
  <p class="unpublished">
    Use this Markdown to embed the picture in a news entry:
    <code>![](<%= @picture.id %>-<%= @picture.url %>.jpg)</code>
  </p>
<% end %>

<% if @picture_to_replace %>
  <h2>Picture to Replace:</h2>
  <%=
    link_to(
      show_picture(@picture_to_replace, 'picture', :thumbnail),
      @picture_to_replace
    )
  %>
  <p class="unpublished">
    <%= @picture_to_replace.name_and_id %> will be replaced when
    <%= @picture.name_and_id %> is published.
  </p>
<% end %>

<h2>Contributed By:</h2>
<ul class="thumbnail_and_name_list">
  <% @picture.contributor_profiles.each do |contributor_profile| %>
    <li>
      <%=
        link_to(
          show_avatar(contributor_profile, :mini_thumbnail),
          contributor_profile
        )
      %>
      <h3><%= link_to contributor_profile.name, contributor_profile %></h3>
    </li>
  <% end %>
</ul>

<div class="embedded_picture_container">
  <%=
    link_to(
      show_picture(@picture, 'picture', :embedded), @picture.picture.url
    )
  %>
</div>

<p><%= link_to "View Full Size", @picture.picture.url %></p>

<p><%= @picture.description %></p>

<% unless @picture.information.blank? %>
  <%= raw markdown_to_html @picture.information %>
<% end %>

<% if @other_pictures_in_album %>
  <% unless @other_pictures_in_album.count == 0 %>
    <h2>Other Pictures in this Album</h2>
    <div id="other_pictures_in_album">
      <% @other_pictures_in_album.each do |picture| %>
        <%=
          link_to(
            image_tag(
              picture.picture.url(:mini_thumbnail),
              alt: picture.name,
              width: '75',
              height: '75'
            ),
            picture
          )
        %>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= render partial: 'shared/related_encyclopaedia_entries' %>

<p class="links">
  <% if @picture.category.saga %>
    <%= link_to(
      @picture.category.saga.name, saga_path(@picture.category.saga)
    ) %> |
  <% end %>
  <%= link_to 'Pictures', pictures_path %> |
  <%= link_to @picture.category.name, category_path(@picture.category) %>
</p>
