<%= form_for [@project, @project_discussion, @project_discussion_comment] do |f| %>
  <div>
    <%= f.label :message %><br />
    <%= render 'shared/wysiwym_basic_buttons' %>
    <%= render 'shared/emoticons' %>
    <%= f.text_area :message, :class => "data_entry" %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>