<% title @contributor_profile.name %>
<% description @contributor_profile.description %>
<% open_graph_type 'profile' %>
<% if @contributor_profile.avatar.present? %>
  <% open_graph_image(
    ENV['WEBSITE_URL'].chomp('/') + @contributor_profile.avatar.url(:original)
  ) %>
<% end %>

<% if policy(@contributor_profile).edit? %>
  <p class="admin-section">
    <%= link_to(
      'Edit Contributor Profile',
      edit_admin_contributor_profile_path(@contributor_profile)
    ) %>
  </p>
<% end %>

<% unless @contributor_profile.publish %>
  <%= render partial: 'redesign/shared/draft' %>
<% end %>

<article class="contributor-profile">
  <div class="contributor-profile__body">
    <div class="contributor-profile__avatar">
      <% if @contributor_profile.avatar_file_name.blank? %>
        <%= image_pack_tag(
          'media/images/sorry-no-image-embedded.jpg',
          alt: 'Sorry No Image',
          width: '280',
          height: '280'
        ) %>
      <% else %>
        <%= image_tag @contributor_profile.avatar.url(:embedded) %>
      <% end %>
    </div>
    <p class="contributor-profile__description">
      <%= @contributor_profile.description %>
    </p>
    <%= render(
      partial: 'redesign/contributor_profiles/links',
      locals: { contributor_profile: @contributor_profile }
    ) %>
    <%= render(
      partial: 'redesign/contributor_profiles/contributions',
      locals: { contributor_profile: @contributor_profile }
    ) %>
  </div>
</div>
