<div class="nested-fields card mb-3 custom-card">
  <% if f.object.illustration_file_name.blank? %>
    <div class="card-body">
      <h3 class="card-title">New Illustration</h3>
      <%= render 'admin/shared/form/image_type_warning' %>
      <%= f.file_field :illustration %>
    </div>
  <% else %>
    <% if is_jpeg(f.object.illustration.url) %>
      <%= image_tag f.object.illustration.url, class: 'card-img-top' %>
    <% end %>
    <div class="card-body">
      <% unless is_jpeg(f.object.illustration.url) %>
        <%= render 'admin/shared/form/image_type_warning' %>
      <% end %>
      <p class="card-title"><%= f.object.illustration_file_name %></p>
      <a class="btn btn-secondary insert_tag" href="#" role="button">
        Insert Markdown Tag
      </a>
      <%=
        link_to_remove_association(
          'Remove Illustration',
          f,
          role: 'button',
          class: 'btn btn-danger'
        )
      %>
    </div>
  <% end %>
</div>
