<%= nested_form_for @chapter, html: { multipart: true } do |f| %>
  <%= render 'shared/error_messages', target: @chapter %>
  <div>
    <div>
      <%= f.label :story_id, 'Story' %>
    </div>
    <div>
      <%= f.collection_select :story_id, Story.order(:name), :id, :name %>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :chapter_type, 'Chapter Type' %>
    </div>
    <div>
      <%= f.collection_select :chapter_type,
        Chapter::CHAPTER_TYPES,
        :to_s,
        :titleize
      %>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :number, 'Number' %>
    </div>
    <div>
      <p>
        (Enter 1 for the prologue or epilogue, 2 for a second prologue/epilogue.
        Regular chapters are numbered as you would expect.)
      </p>
      <%= f.number_field :number, { min: 1, max: 99 } %>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :name, 'Name' %>
    </div>
    <div>
      <%= f.text_field :name %>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :content, 'Content' %>
    </div>
    <div>
      <%= f.text_area :content, rows: 15, class: 'data_entry' %>
      <p>(You may use a <a href="/markdown-syntax-guide" target="_blank">limited
        subset of Markdown</a> to format the chapter's content)</p>
    </div>
  </div>
  <div>
    <label>Illustrations</label>
    <%= f.fields_for :illustrations do |illustration_form| %>
      <div class="illustration">
      <% if illustration_form.object.illustration_file_name.blank? %>
        <%= illustration_form.file_field :illustration %>
      <% else %>
        <%= image_tag illustration_form.object.illustration.url(:embedded) %>
        <br />
        <button class="insert_tag">Insert Markdown Tag</button><br />
        Filename: <%= illustration_form.object.illustration_file_name %>
        <br />
        <%= link_to "Popover Image",
          illustration_form.object.illustration.url(:popover) %> |
        <%= link_to "Original Image",
          illustration_form.object.illustration.url %> |
      <% end %>
      <%= illustration_form.link_to_remove "Remove illustration" %><br />
      </div>
    <% end %>
    <p><%= f.link_to_add "Add illustration", :illustrations %></p>
  </div>
  <div>
    <%= f.submit 'Save and View' %>
    <%= f.submit 'Save and Continue Editing', name: :continue_editing %>
  </div>
<% end %>
