<% if @chapter_count > 0 %>
  <div id="resources">
    <% @prologues.each do |prologue| %>
      <div class="resource">
        <div class="details">
          <h2>
            <%=
              link_to(
                "#{prologue.story.name}: #{prologue.name}",
                chapter_path(prologue)
              )
            %>
          </h2>
          <% unless prologue.publish %>
            <p class="unpublished">Unpublished</p>
          <% end %>
          <p><%= truncated_text prologue.content %></p>
        </div>
      </div>
    <% end %>
    <% @regular_chapters.each do |regular_chapter| %>
      <div class="resource">
        <div class="details">
          <% if regular_chapter.name.present? %>
            <h2>
              <%=
                link_to(
                  "#{regular_chapter.story.name}: Chapter " +
                    "#{regular_chapter.number.to_s}: #{regular_chapter.name}",
                  chapter_path(regular_chapter)
                )
              %>
            </h2>
          <% else %>
            <h2>
              <%=
                link_to(
                  "#{regular_chapter.story.name}: Chapter " +
                    "#{regular_chapter.number.to_s}",
                  chapter_path(regular_chapter)
                )
              %>
            </h2>
          <% end %>
          <% unless regular_chapter.publish %>
            <p class="unpublished">Unpublished</p>
          <% end %>
          <p><%= truncated_text regular_chapter.content %></p>
        </div>
      </div>
    <% end %>
    <% @epilogues.each do |epilogue| %>
      <div class="resource">
        <div class="details">
          <h2>
            <%=
              link_to(
                "#{epilogue.story.name}: #{epilogue.name}",
                chapter_path(epilogue)
              )
            %>
          </h2>
          <% unless epilogue.publish %>
            <p class="unpublished">Unpublished</p>
          <% end %>
          <p><%= truncated_text epilogue.content %></p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
