<% title @page.parent_page.name %>
<% description @page.parent_page.description %>
<% open_graph_type 'article' %>

<h2><%= @page.name %></h2>

<%= render 'literature/show/edit_page_link' %>

<% if !@page.publish %>
  <p class="unpublished">
    This page is not published. Please inform an administrator when it and
    the associated news entry are ready to be published.
  </p>
<% elsif !@page.parent_page.publish %>
  <p class="unpublished">Published in Unpublished Parent Page</p>
<% elsif !@page.parent_page.category.publish %>
  <p class="unpublished">Published in Unpublished Category</p>
<% end %>

<%= render 'literature/show/page_picture' %>
<%= render 'literature/show/contributors' %>

<%= raw illustrated_markdown_to_html @page.id, 'Page', @page.content %>

<%= render partial: 'shared/related_encyclopaedia_entries' %>

<%= render partial: 'chapter_navigation' %>

<p class="links">
  <% if @page.parent_page.category.saga %>
    <%= link_to(
      @page.parent_page.category.saga.name,
      saga_path(@page.parent_page.category.saga)
    ) %> |
  <% end %>
  <%= link_to 'Literature', literature_index_path %> |
  <%= link_to(
    @page.parent_page.category.name, category_path(@page.parent_page.category)
  ) %>
</p>
