<% title @chapter.story.name %>
<% description @chapter.story.description %>
<% open_graph_type 'article' %>

<h2>
  <% if @chapter.chapter_type == :regular_chapter.to_s %>
    Chapter <%= @chapter.number %><% unless @chapter.name.blank? %>:<% end %>
  <% end %>
  <%= @chapter.name %>
</h2>

<%= raw illustrated_markdown_to_html @chapter.id, 'Chapter', @chapter.content %>

<nav class="chapters">
  <% if @previous_chapter %>
    <% if @previous_chapter.chapter_type == :regular_chapter.to_s %>
      <% if @previous_chapter.name.blank? %>
        <%=
          link_to(
            "‹ Chapter #{@previous_chapter.number.to_s}",
            chapter_path(@previous_chapter)
          )
        %> |
      <% else %>
        <%=
          link_to(
            "‹ Chapter #{@previous_chapter.number.to_s}: " +
              @previous_chapter.name,
            chapter_path(@previous_chapter)
          )
        %> |
      <% end %>
    <% else %>
      <%=
        link_to(
          "‹ #{@previous_chapter.name}",
          chapter_path(@previous_chapter)
        )
      %> |
    <% end %>
  <% end %>
  <%= link_to 'Table of Contents', story_path(@chapter.story) %>
  <% if @next_chapter %>
    <% if (@next_chapter.chapter_type == :regular_chapter.to_s) %>
      <% if @next_chapter.name.blank? %>
        | <%=
            link_to(
              "Chapter #{@next_chapter.number.to_s} ›",
              chapter_path(@next_chapter)
            )
          %>
      <% else %>
        | <%=
            link_to(
              "Chapter #{@next_chapter.number.to_s}: #{@next_chapter.name} ›",
              chapter_path(@next_chapter)
            )
          %>
      <% end %>
    <% else %>
      | <%= link_to "#{@next_chapter.name} ›", chapter_path(@next_chapter) %>
    <% end %>
  <% end %>
</nav>
