<% title @page.parent_page.name %>
<% description @page.parent_page.description %>
<%= render(
  partial: 'shared/pages/open_graph_metadata',
  locals: { page: @page }
) %>

<%= render(
  partial: 'shared/pages/admin_section',
  locals: { page: @page }
) %>

<% if !@page.publish %>
  <%= render partial: 'shared/draft' %>
<% elsif !@page.parent_page.publish %>
  <p class="unpublished">Published in Unpublished Parent Page</p>
<% elsif !@page.parent_page.category.publish %>
  <p class="unpublished">Published in Unpublished Category</p>
<% end %>

<article class="page">
  <header class="page__header">
    <%= render(
      partial: 'shared/pages/page_picture',
      locals: { page: @page }
    ) %>
    <%= render(
      partial: 'shared/contributed_by',
      locals: { contributor_profiles: @page.contributor_profiles }
    ) %>
    <h1 class="page__chapter-heading"><%= @page.name %></h1>
  </header>
  <div class="page__body">
    <%= render(
      partial: 'shared/pages/content',
      locals: { page: @page }
    ) %>
    <%= render(
      partial: 'literature/chapters',
      locals: { page: @page }
    ) %>
  </div>
  <footer class="page__footer">
    <%= render(
      partial: 'shared/related_tags',
      locals: { tags: @tags }
    ) %>
    <%= render(
      partial: 'chapters/navigation',
      locals: { page: @page }
    ) %>
  </footer>
</article>
