<%= form_for @category do |f| %>
  <%= render 'shared/error_messages', target: @category %>
  <div>
    <div>
      <%= f.label :category_type, 'Category Type*' %>
    </div>
    <div>
      <%= f.collection_select :category_type,
        Category::CATEGORY_TYPES,
        :to_s,
        :titleize
      %>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :category_group_id, 'Category Group*' %>
    </div>
    <div>
      <%= f.collection_select :category_group_id,
        @category_groups,
        :id,
        :name,
        { include_blank: true }
      %>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :name, 'Name*' %>
    </div>
    <div>
      <%= f.text_field :name %>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :description, 'Description*' %>
    </div>
    <div>
      <%= f.text_area :description, rows: 3 %>
    </div>
  </div>
  <div>
    <%= f.check_box :publish %> <%= f.label :publish, 'Publish?' %>
  </div>
  <div>
    <%= f.submit 'Save and View' %>
    <%= f.submit 'Save and Continue Editing', name: :continue_editing %>
  </div>
<% end %>
