<% title "Categories" %>

<% if policy(CategoryGroup).new? and policy(Category).new? %>
  <ul class="administration">
    <li><%= link_to 'New Category Group', new_category_group_path %></li>
    <li><%= link_to 'New Category', new_category_path %></li>
  </ul>
<% end %>

<ul>
  <li>
    <h2><%= link_to "Articles", articles_path %></h2>
    <% @article_categories.each do |article_category| %>
      <ul>
        <li>
          <h3>
            <%= link_to article_category.name, article_category %>
            <% unless article_category.publish %>
               - <span class="unpublished">Unpublished</span>
            <% end %>
          </h3>
        </li>
      </ul>
    <% end %>
  </li>
  <li>
    <h2><%= link_to "Downloads", downloads_path %></h2>
    <% @download_categories.each do |download_category| %>
      <ul>
        <li>
          <h3>
            <%= link_to download_category.name, download_category %>
            <% unless download_category.publish %>
               - <span class="unpublished">Unpublished</span>
            <% end %>
          </h3>
        </li>
      </ul>
    <% end %>
  </li>
  <li>
    <h2><%= link_to "Encyclopaedia", encyclopaedia_entries_path %></h2>
    <ul>
      <% @category_groups.where(category_group_type: :encyclopaedia_entry).
        each do |category_group| %>
        <li>
          <h3><%= category_group.name %></h3>
          <% if (policy(category_group).edit? and
            policy(category_group).destroy?) %>
            <ul class="administration">
              <li><%= link_to 'Edit Category Group', edit_category_group_path(
                category_group) %></li>
              <li>
                <%= link_to 'Delete Category Group', category_group,
                  data: { confirm: "Are you sure you want to delete this " +
                    "category group? ALL categories belonging to this " +
                    "category group (and ALL ITEMS BELONGING TO THOSE " +
                    "CATEGORIES) will be deleted." },
                  method: :delete
                %>
              </li>
            </ul>
          <% end %>
          <% @encyclopaedia_entry_categories.where(category_group:
            category_group).each do |encyclopaedia_entry_category| %>
            <ul>
              <li>
                <h4>
                  <%= link_to encyclopaedia_entry_category.name,
                    encyclopaedia_entry_category %>
                  <% unless encyclopaedia_entry_category.publish %>
                     - <span class="unpublished">Unpublished</span>
                  <% end %>
                </h4>
              </li>
            </ul>
          <% end %>
        </li>
      <% end %>
      <% @encyclopaedia_entry_categories.where(category_group: nil).
        each do |encyclopaedia_entry_category| %>
        <li>
          <h4>
            <%= link_to encyclopaedia_entry_category.name,
              encyclopaedia_entry_category %>
            <% unless encyclopaedia_entry_category.publish %>
               - <span class="unpublished">Unpublished</span>
            <% end %>
          </h4>
        </li>
      <% end %>
    </ul>
  </li>
  <li>
    <h2><%= link_to "Links", links_path %></h2>
    <% @link_categories.each do |link_category| %>
      <ul>
        <li>
          <h3>
            <%= link_to link_category.name, link_category %>
            <% unless link_category.publish %>
               - <span class="unpublished">Unpublished</span>
            <% end %>
          </h3>
        </li>
      </ul>
    <% end %>
  </li>
  <li>
    <h2><%= link_to "Music", music_tracks_path %></h2>
    <ul>
      <% @category_groups.where(category_group_type: :music_track).
        each do |category_group| %>
        <li>
          <h3><%= category_group.name %></h3>
          <% if (policy(category_group).edit? and
            policy(category_group).destroy?) %>
            <ul class="administration">
              <li><%= link_to 'Edit Category Group', edit_category_group_path(
                category_group) %></li>
              <li>
                <%= link_to 'Delete Category Group', category_group,
                  data: { confirm: "Are you sure you want to delete this " +
                    "category group? ALL categories belonging to this " +
                    "category group (and ALL ITEMS BELONGING TO THOSE " +
                    "CATEGORIES) will be deleted." },
                  method: :delete
                %>
              </li>
            </ul>
          <% end %>
          <% @music_track_categories.where(category_group: category_group).
            each do |music_track_category| %>
            <ul>
              <li>
                <h4>
                  <%= link_to music_track_category.name, music_track_category %>
                  <% unless music_track_category.publish %>
                     - <span class="unpublished">Unpublished</span>
                  <% end %>
                </h4>
              </li>
            </ul>
          <% end %>
        </li>
      <% end %>
      <% @music_track_categories.where(category_group: nil).
        each do |music_track_category| %>
        <li>
          <h4>
            <%= link_to music_track_category.name, music_track_category %>
            <% unless music_track_category.publish %>
               - <span class="unpublished">Unpublished</span>
            <% end %>
          </h4>
        </li>
      <% end %>
    </ul>
  </li>
  <li>
    <h2><%= link_to "Pictures", pictures_path %></h2>
    <ul>
      <% @category_groups.where(category_group_type: :picture).
        each do |category_group| %>
        <li>
          <h3><%= category_group.name %></h3>
          <% if (policy(category_group).edit? and
            policy(category_group).destroy?) %>
            <ul class="administration">
              <li><%= link_to 'Edit Category Group', edit_category_group_path(
                category_group) %></li>
              <li>
                <%= link_to 'Delete Category Group', category_group,
                  data: { confirm: "Are you sure you want to delete this " +
                    "category group? ALL categories belonging to this " +
                    "category group (and ALL ITEMS BELONGING TO THOSE " +
                    "CATEGORIES) will be deleted." },
                  method: :delete
                %>
              </li>
            </ul>
          <% end %>
          <% @picture_categories.where(category_group: category_group).
            each do |picture_category| %>
            <ul>
              <li>
                <h4>
                  <%= link_to picture_category.name, picture_category %>
                  <% unless picture_category.publish %>
                     - <span class="unpublished">Unpublished</span>
                  <% end %>
                </h4>
              </li>
            </ul>
          <% end %>
        </li>
      <% end %>
      <% @picture_categories.where(category_group: nil).
        each do |picture_category| %>
        <li>
          <h3>
            <%= link_to picture_category.name, picture_category %>
            <% unless picture_category.publish %>
               - <span class="unpublished">Unpublished</span>
            <% end %>
          </h3>
        </li>
      <% end %>
    </ul>
  </li>
  <li>
    <h2><%= link_to "Poems", poems_path %></h2>
  </li>
  <li>
    <h2><%= link_to "Quizzes", quizzes_path %></h2>
  </li>
  <li>
    <h2><%= link_to "Resources", resources_path %></h2></li>
    <ul>
      <% @category_groups.where(category_group_type: :resource).
        each do |category_group| %>
        <li>
          <h3><%= category_group.name %></h3>
          <% if (policy(category_group).edit? and
            policy(category_group).destroy?) %>
            <ul class="administration">
              <li><%= link_to 'Edit Category Group', edit_category_group_path(
                category_group) %></li>
              <li>
                <%= link_to 'Delete Category Group', category_group,
                  data: { confirm: "Are you sure you want to delete this " +
                    "category group? ALL categories belonging to this " +
                    "category group (and ALL ITEMS BELONGING TO THOSE " +
                    "CATEGORIES) will be deleted." },
                  method: :delete
                %>
              </li>
            </ul>
          <% end %>
          <% @resource_categories.where(category_group: category_group).
            each do |resource_category| %>
            <ul>
              <li>
                <h4>
                  <%= link_to resource_category.name, resource_category %>
                  <% unless resource_category.publish %>
                     - <span class="unpublished">Unpublished</span>
                  <% end %>
                </h4>
              </li>
            </ul>
          <% end %>
        </li>
      <% end %>
      <% @resource_categories.where(category_group: nil).
        each do |resource_category| %>
        <li>
          <h3>
            <%= link_to resource_category.name, resource_category %>
            <% unless resource_category.publish %>
               - <span class="unpublished">Unpublished</span>
            <% end %>
          </h3>
        </li>
      <% end %>
    </ul>
  </li>
  <li>
    <h2><%= link_to "Stories", stories_path %></h2>
    <% @story_categories.each do |story_category| %>
      <ul>
        <li>
          <h3>
            <%= link_to story_category.name, story_category %>
            <% unless story_category.publish %>
               - <span class="unpublished">Unpublished</span>
            <% end %>
          </h3>
        </li>
      </ul>
    <% end %>
  </li>
  <li>
    <h2><%= link_to "Videos", videos_path %></h2>
    <ul>
      <% @category_groups.where(category_group_type: :video).
        each do |category_group| %>
        <li>
          <h3><%= category_group.name %></h3>
          <% if (policy(category_group).edit? and
            policy(category_group).destroy?) %>
            <ul class="administration">
              <li><%= link_to 'Edit Category Group', edit_category_group_path(
                category_group) %></li>
              <li>
                <%= link_to 'Delete Category Group', category_group,
                  data: { confirm: "Are you sure you want to delete this " +
                    "category group? ALL categories belonging to this " +
                    "category group (and ALL ITEMS BELONGING TO THOSE " +
                    "CATEGORIES) will be deleted." },
                  method: :delete
                %>
              </li>
            </ul>
          <% end %>
          <% @video_categories.where(category_group: category_group).
            each do |video_category| %>
            <ul>
              <li>
                <h4>
                  <%= link_to video_category.name, video_category %>
                  <% unless video_category.publish %>
                     - <span class="unpublished">Unpublished</span>
                  <% end %>
                </h4>
              </li>
            </ul>
          <% end %>
        </li>
      <% end %>
      <% @video_categories.where(category_group: nil).
        each do |video_category| %>
        <li>
          <h3>
            <%= link_to video_category.name, video_category %>
            <% unless video_category.publish %>
              - <span class="unpublished">Unpublished</span>
            <% end %>
          </h3>
        </li>
      <% end %>
    </ul>
  </li>
</ul>
