<% title @category.name %>
<% description @category.description %>
<% open_graph_type 'article' %>
<% if @category.category_picture.present? %>
  <% open_graph_image(
    ENV['WEBSITE_URL'].chomp('/') + @category.category_picture.url(:original)
  ) %>
<% end %>

<% if policy(@category).edit? %>
  <p><%= link_to 'Edit Category', edit_admin_category_path(@category) %></p>
<% end %>

<% unless @category.publish %>
  <p class="unpublished">Unpublished</p>
<% end %>

<% if @category.category_picture.present? %>
  <div class="category_picture_container">
    <%= show_picture @category, 'category_picture', :embedded %>
  </div>
<% end %>

<%= @category.description %>

<%= render 'categories/show/literature_pages' if @literature_pages %>
<%= render 'categories/show/pictures' if @pictures %>
<%= render 'categories/show/music_tracks' if @music_tracks %>
<%= render 'categories/show/videos' if @videos %>
<%= render 'categories/show/downloads' if @downloads %>
