<% title @category.name %>
<% description @category.description %>

<% unless @category.publish %>
  <p class="unpublished">Unpublished</p>
<% end %>

<% if policy(CategoryGroup).new? or policy(Category).new? or
  policy(@category).edit? or policy(@category).destroy? %>
  <ul class="administration">
    <% if policy(CategoryGroup).new? %>
      <li><%= link_to 'New Category Group', new_category_group_path %></li>
    <% end %>
    <% if policy(Category).new? %>
      <li><%= link_to 'New Category', new_category_path %></li>
    <% end %>
    <% if policy(@category).edit? %>
      <li><%= link_to 'Edit Category', edit_category_path(@category) %></li>
    <% end %>
    <% if policy(@category).destroy? %>
      <li>
        <%= link_to 'Delete Category', @category,
          data: { confirm: 'Are you sure you want to delete this category?' },
          method: :delete
        %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= @category.description %>

<% if @articles %>
  <h2>Articles in this Category</h2>
  <% if policy(Article).new? %>
    <ul class="administration">
      <li>
        <%= link_to 'New Article',
          new_article_path(category: @category) %>
      </li>
    </ul>
  <% end %>
  <%= render 'articles/list' %>
  <p><%= link_to 'Site Map', site_map_path %> |
    <%= link_to 'Articles', articles_path %></p>
<% end %>

<% if @downloads %>
  <h2>Downloads in this Category</h2>
  <% if policy(Download).new? %>
    <ul class="administration">
      <li>
        <%= link_to 'New Download',
          new_download_path(category: @category) %>
      </li>
    </ul>
  <% end %>
  <%= render 'downloads/list' %>
  <p><%= link_to 'Site Map', site_map_path %> |
    <%= link_to 'Downloads', downloads_path %></p>
<% end %>

<% if @encyclopaedia_entries %>
  <h2>Encyclopaedia Entries in this Category</h2>
  <% if policy(EncyclopaediaEntry).new? %>
    <ul class="administration">
      <li>
        <%= link_to 'New Encyclopaedia Entry',
          new_encyclopaedia_entry_path(category: @category) %>
      </li>
    </ul>
  <% end %>
  <%= render 'encyclopaedia_entries/list' %>
  <p><%= link_to 'Site Map', site_map_path %> |
    <%= link_to 'Encyclopaedia', encyclopaedia_entries_path %></p>
<% end %>

<% if @links %>
  <h2>Links in this Category</h2>
  <% if policy(Link).new? %>
    <ul class="administration">
      <li>
        <%= link_to 'New Link',
          new_link_path(category: @category) %>
      </li>
    </ul>
  <% end %>
  <%= render 'links/list' %>
  <p><%= link_to 'Site Map', site_map_path %> |
    <%= link_to 'Links', links_path %></p>
<% end %>

<% if @music_tracks %>
  <h2>Music Tracks in this Category</h2>
  <% if policy(MusicTrack).new? %>
    <ul class="administration">
      <li>
        <%= link_to 'New Music Track',
          new_music_track_path(category: @category) %>
      </li>
    </ul>
  <% end %>
  <%= render 'music_tracks/list' %>
  <p><%= link_to 'Site Map', site_map_path %> |
    <%= link_to 'Music', music_tracks_path %></p>
<% end %>

<% if @pictures %>
  <h2>Pictures in this Category</h2>
  <% if policy(Picture).new? %>
    <ul class="administration">
      <li>
        <%= link_to 'New Picture',
          new_picture_path(category: @category) %>
      </li>
    </ul>
  <% end %>
  <%= render 'pictures/list' %>
  <p><%= link_to 'Site Map', site_map_path %> |
    <%= link_to 'Pictures', pictures_path %></p>
<% end %>

<% if @resources %>
  <h2>Resources in this Category</h2>
  <% if policy(Resource).new? %>
    <ul class="administration">
      <li>
        <%= link_to 'New Resource',
          new_resource_path(category: @category) %>
      </li>
    </ul>
  <% end %>
  <%= render 'resources/list' %>
  <p><%= link_to 'Site Map', site_map_path %> |
    <%= link_to 'Resources', resources_path %></p>
<% end %>

<% if @stories %>
  <h2>Stories in this Category</h2>
  <% if policy(Story).new? %>
    <ul class="administration">
      <li>
        <%= link_to 'New Story',
          new_story_path(category: @category) %>
      </li>
    </ul>
  <% end %>
  <%= render 'stories/list' %>
  <p><%= link_to 'Site Map', site_map_path %> |
    <%= link_to 'Stories', stories_path %></p>
<% end %>

<% if @videos %>
  <h2>Videos in this Category</h2>
  <% if policy(Video).new? %>
    <ul class="administration">
      <li>
        <%= link_to 'New Video',
          new_video_path(category: @category) %>
      </li>
    </ul>
  <% end %>
  <%= render 'videos/list' %>
  <p><%= link_to 'Site Map', site_map_path %> |
    <%= link_to 'Videos', videos_path %></p>
<% end %>
