<% title @category.name %>
<% description @category.description %>

<% unless @category.publish %>
  <p class="unpublished">Unpublished</p>
<% end %>

<%= @category.description %>

<%= render 'categories/show/articles' if @articles %>
<%= render 'categories/show/downloads' if @downloads %>
<%= render 'categories/show/encyclopaedia_entries' if @encyclopaedia_entries %>
<%= render 'categories/show/links' if @links %>
<%= render 'categories/show/music_tracks' if @music_tracks %>
<%= render 'categories/show/pictures' if @pictures %>
<%= render 'categories/show/resources' if @resources %>
<%= render 'categories/show/stories' if @stories %>
<%= render 'categories/show/videos' if @videos %>
