<% title @category.name %>

<% unless @category.publish %>
  <p class="unpublished">Unpublished</p>
<% end %>

<% if can? :manage, @category %>
	<ul class="administration">
    <li><%= link_to 'Edit Category', edit_category_path(@category) %></li>
    <li><%= link_to 'Delete Category', @category, :confirm => 'Are you sure you want to delete this category? ALL items belonging to this category will be deleted.', :method => :delete %></li>
	</ul>
<% end %>

<%= @category.description %>

<% unless @articles.empty? %>
	<h2>Articles in this Category</h2>
	<%= render 'articles/list' %>
	<p><%= link_to 'Categories', categories_path %> | <%= link_to 'Articles', articles_path %></p>
<% end %>

<% unless @downloads.empty? %>
	<h2>Downloads in this Category</h2>
	<%= render 'downloads/list' %>
	<p><%= link_to 'Categories', categories_path %> | <%= link_to 'Downloads', downloads_path %></p>
<% end %>

<% unless @encyclopaedia_entries.empty? %>
	<h2>Encyclopaedia Entries in this Category</h2>
	<%= render 'encyclopaedia_entries/list' %>
	<p><%= link_to 'Categories', categories_path %> | <%= link_to 'Encyclopaedia', encyclopaedia_entries_path %></p>
<% end %>

<% unless @links.empty? %>
	<h2>Links in this Category</h2>
	<%= render 'links/list' %>
	<p><%= link_to 'Categories', categories_path %> | <%= link_to 'Links', links_path %></p>
<% end %>

<% unless @music_tracks.empty? %>
	<h2>Music Tracks in this Category</h2>
	<%= render 'music_tracks/list' %>
	<p><%= link_to 'Categories', categories_path %> | <%= link_to 'Music', music_tracks_path %></p>
<% end %>

<% unless @pictures.empty? %>
	<h2>Pictures in this Category</h2>
	<%= render 'pictures/list' %>
	<p><%= link_to 'Categories', categories_path %> | <%= link_to 'Pictures', pictures_path %></p>
<% end %>

<% unless @resources.empty? %>
	<h2>Resources in this Category</h2>
	<%= render 'resources/list' %>
	<p><%= link_to 'Categories', categories_path %> | <%= link_to 'Resources', resources_path %></p>
<% end %>

<% unless @stories.empty? %>
  <h2>Stories in this Category</h2>
  <%= render 'stories/list' %>
	<p><%= link_to 'Categories', categories_path %> | <%= link_to 'Stories', stories_path %></p>
<% end %>

<% unless @videos.empty? %>
	<h2>Videos in this Category</h2>
	<%= render 'videos/list' %>
	<p><%= link_to 'Categories', categories_path %> | <%= link_to 'Videos', videos_path %></p>
<% end %>