<% title 'Contributors' %>

<% if @contributor_profiles %>
  <div id="resources">
    <% @contributor_profiles.each do |contributor_profile| %>
      <div class="resource">
        <div class="comment_thumbnail">
          <% if contributor_profile.avatar_file_name.blank? %>
            <%= image_pack_tag 'media/images/default-avatar.jpg' %>
          <% else %>
            <%= image_tag contributor_profile.avatar.url(:thumbnail) %><br />
          <% end %>
        </div>
        <div class="comment_details">
          <h2><%= link_to contributor_profile.name, contributor_profile %></h2>
          <% unless contributor_profile.publish %>
            <p class="unpublished">Unpublished</p>
          <% end %>
          <p>
            <%=
              pluralize(
                website_contributions_count(contributor_profile),
                'website contribution'
              )
            %>
          </p>
          <% if contributor_profile.description.present? %>
            <p><%= truncated_text contributor_profile.description %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @contributor_profiles %>
<% end %>
