<section class="cards">
  <% music_tracks.each do |music_track| %>
    <article class="card">
      <% if music_track.music_track_picture.present? %>
        <div class="card__picture">
          <%= link_to(
            show_picture(music_track, 'music_track_picture', :thumbnail),
            redesign_music_track_path(music_track)
          ) %>
        </div>
      <% end %>
      <h1 class="card__heading">
        <%= link_to music_track.name, redesign_music_track_path(music_track) %>
      </h1>
      <div class="card__body">
        <% unless music_track.publish && music_track.category.publish %>
          <%= render partial: 'redesign/shared/draft' %>
        <% end %>
        <p><%= music_track.description %></p>
      </div>
    </article>
  <% end %>
  <footer class="cards__footer">
    <%= paginate music_tracks %>
  </footer>
</section>
