<section class="gallery">
  <ul class="gallery__list<%= '--no-albums' unless group_into_albums %>">
    <% pictures.each do |picture| %>
      <li class="gallery-picture">
        <div class="gallery-picture__picture">
          <% if picture.controversial_content? %>
            <%= link_to show_controversial_content_thumbnail, picture %>
          <% else %>
            <%= link_to(
              show_picture(picture, 'picture', :triple_thumbnail),
              redesign_picture_path(picture),
              title: title_in_gallery(group_into_albums, picture)
            ) %>
          <% end %>
        </div>
        <div class="gallery-picture__details">
          <% if !picture.publish || !picture.category.publish %>
            <p class="draft">Draft</p>
          <% elsif group_into_albums %>
            <p class="gallery-picture__count">
              <% if picture.album %>
                <%= picture.album.pictures.count %> pictures
              <% else %>
                1 picture
              <% end %>
            </p>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
  <footer class="gallery__footer">
    <%= paginate pictures %>
  </footer>
</section>
