<% title "Sagas" %>

<% if policy(Saga).new? %>
  <ul class="administration">
    <li><%= link_to 'New Saga', new_saga_path %></li>
  </ul>
<% end %>

<% if @sagas %>
  <div id="resources">
    <% @sagas.each do |saga| %>
      <div class="resource">
        <div class="details">
          <h2><%= saga.sequence_number %>. <%= saga.name %></h2>
          <% if policy(saga).edit? and policy(saga).destroy? %>
            <ul class="administration">
              <li><%= link_to 'Edit Saga', edit_saga_path(saga) %></li>
              <li>
                <%=
                  link_to(
                    'Delete Saga',
                    saga,
                    data: { confirm: 'Are you sure?' },
                    method: :delete
                  )
                %>
              </li>
            </ul>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @sagas %>
<% end %>
