<% title @saga.name %>
<% if @saga.encyclopaedia_entry %>
  <% description truncated_text(@saga.encyclopaedia_entry.content) %>
<% end %>
<% if @saga.encyclopaedia_entry.encyclopaedia_entry_picture.present? %>
  <% open_graph_image(
    root_url.chomp('/') +
      @saga.encyclopaedia_entry.encyclopaedia_entry_picture.url(:original)
  ) %>
<% end %>

<% if @saga.encyclopaedia_entry && policy(@saga.encyclopaedia_entry).show? %>
  <div id="resources">
    <div class="resource">
      <div class="thumbnail">
        <%=
          link_to(
            show_picture(
              @saga.encyclopaedia_entry,
              'encyclopaedia_entry_picture',
              :thumbnail
            ),
            @saga.encyclopaedia_entry
          )
        %>
      </div>
      <div class="details">
        <h2>
          <%= link_to(
            @saga.encyclopaedia_entry.name,
            @saga.encyclopaedia_entry
          ) %>
        </h2>
        <p>
          <%= truncated_text @saga.encyclopaedia_entry.content %>
          <%= link_to 'Learn More', @saga.encyclopaedia_entry %>
        </p>
      </div>
    </div>
  </div>
<% end %>

<% if true.in?(@categories.each.map { |key, value| value.present? }) %>
  <h2><%= @saga.name %> Categories</h2>
<% end %>

<% MediaType::all.each do |key, value| %>
  <% if @categories[key].present? %>
    <h3><%= value %></h3>
    <%=
      render(
        partial: 'site_map/categories',
        locals: {
          categories: @categories[key],
          category_parent: :saga
        }
      )
    %>
  <% end %>
<% end %>
