<% title @saga.name %>
<% if @saga.page %>
  <% description truncated_text(@saga.page.content) %>
  <% if @saga.page.page_picture.present? %>
    <% open_graph_image(
      root_url.chomp('/') +
        @saga.page.page_picture.url(:original)
    ) %>
  <% end %>
<% end %>

<% if policy(@saga).edit? %>
  <p>
    <%= link_to 'Edit Saga', edit_admin_saga_path(@saga) %>
  </p>
<% end %>

<% if @saga.page && policy(@saga.page).show? %>
  <div id="resources">
    <div class="resource">
      <div class="thumbnail">
        <%= link_to(
          show_picture(@saga.page, 'page_picture', :thumbnail),
          encyclopaedia_path(@saga.page)
        ) %>
      </div>
      <div class="details">
        <h2><%= link_to @saga.page.name, encyclopaedia_path(@saga.page) %></h2>
        <p>
          <%= truncated_text @saga.page.content %>
          <%= link_to 'Learn More', encyclopaedia_path(@saga.page) %>
        </p>
      </div>
    </div>
  </div>
<% end %>

<% if true.in?(@categories.each.map { |key, value| value.present? }) %>
  <h2><%= @saga.name %> Categories</h2>
<% end %>

<% MediaType::all.each do |key, value| %>
  <% if @categories[key].present? %>
    <h3><%= value %></h3>
    <%=
      render(
        partial: 'site_map/categories',
        locals: {
          categories: @categories[key],
          category_parent: :saga
        }
      )
    %>
  <% end %>
<% end %>
