<% unless tagged_count(tag) == 0 %>
  <div class="tagged-content">
    <h1 class="tagged-content__heading">Tagged Content</h1>
    <ul class="tagged-content__list">
      <% unless news_entry_count(tag) == 0 %>
        <li class="tagged-content__list-item">
          <%= link_to(
            pluralize(news_entry_count(@tag), 'news entry'),
            tag_news_entries_path(@tag)
          ) %>
        </li>
      <% end %>
      <% unless literature_count(tag) == 0 %>
        <li class="tagged-content__list-item">
          <%= link_to(
            pluralize(literature_count(tag), 'work') + ' of literature',
            tag_literature_index_path(tag)
          ) %>
        </li>
      <% end %>
      <% unless picture_count(tag) == 0 %>
        <li class="tagged-content__list-item">
          <%= link_to(
            pluralize(picture_count(tag), 'picture'),
            tag_pictures_path(tag)
          ) %>
        </li>
      <% end %>
      <% unless music_track_count(tag) == 0 %>
        <li class="tagged-content__list-item">
          <%= link_to(
            pluralize(music_track_count(tag), 'music track'),
            tag_music_tracks_path(tag)
          ) %>
        </li>
      <% end %>
      <% unless video_count(tag) == 0 %>
        <li class="tagged-content__list-item">
          <%= link_to(
            pluralize(video_count(tag), 'video'),
            tag_videos_path(tag)
          ) %>
        </li>
      <% end %>
      <% unless download_count(tag) == 0 %>
        <li class="tagged-content__list-item">
        <%= link_to(
          pluralize(download_count(tag), 'download'),
          tag_downloads_path(tag)
        ) %>
      </li>
    <% end %>
    <% unless quiz_count(tag) == 0 %>
      <li class="tagged-content__list-item">
        <%= link_to(
          pluralize(quiz_count(tag), 'quiz'),
          tag_quizzes_path(tag)
        ) %>
      </li>
    <% end %>
  </ul>
<% end %>
