<% if @encyclopaedia_entries %>
  <div id="resources">
    <% @encyclopaedia_entries.each do |encyclopaedia_entry| %>
      <div class="resource">
        <div class="thumbnail">
          <% if encyclopaedia_entry.encyclopaedia_entry_picture_file_name.blank? %>
            <%= image_tag("default-encyclopaedia-entry-picture-thumbnail.jpg",
              alt: "Sorry No Image", width: "150", height: "150") %>
          <% else %>
            <%= link_to encyclopaedia_entry_picture_tag(encyclopaedia_entry,
              :thumbnail), encyclopaedia_entry %>
          <% end %>
        </div>
        <div class="details">
          <h2><%= link_to encyclopaedia_entry.name, encyclopaedia_entry %></h2>
          <% unless encyclopaedia_entry.publish %>
            <p class="unpublished">Unpublished</p>
          <% end %>
          <p><%= truncated_text encyclopaedia_entry.content %></p>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @encyclopaedia_entries %>
<% end %>
