<% if params[:filter] == 'draft' %>
  <% title 'Draft Encyclopaedia Entries' %>
<% else %>
  <% title 'Encyclopaedia' %>
<% end %>

<%
  if (
    policy(CategoryGroup).new? ||
    policy(Category).new? ||
    policy(EncyclopaediaEntry).new?
  )
%>
  <ul class="administration">
    <% if policy(CategoryGroup).new? %>
      <li>
        <%=
          link_to(
            'New Category Group',
            new_category_group_path(category_group_type: :encyclopaedia_entry)
          )
        %>
      </li>
    <% end %>
    <% if policy(Category).new? %>
      <li>
        <%=
          link_to(
            'New Category',
            new_category_path(category_type: :encyclopaedia_entry)
          )
        %>
      </li>
    <% end %>
    <% if policy(EncyclopaediaEntry).new? %>
      <li>
        <%= link_to 'New Encyclopaedia Entry', new_encyclopaedia_entry_path %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @category_groups.present? %>
  <h2>Encyclopaedia Categories</h2>
  <%=
    render(
      partial: 'site_map/category_groups',
      locals: { category_groups: @category_groups }
    )
  %>
<% end %>

<% if @encyclopaedia_entries.present? %>
  <% unless params[:filter] %>
    <h2>All Encyclopaedia Entries</h2>
  <% end %>
  <%= render 'list' %>
<% end %>
