<% title @encyclopaedia_entry.name %>
<% description truncated_text(@encyclopaedia_entry.content) %>

<% if !@encyclopaedia_entry.publish %>
  <p class="unpublished">
    This encyclopaedia entry is not published. Please inform an administrator
    when it and the associated news entry are ready to be published.
  </p>
<% elsif !@encyclopaedia_entry.category.publish %>
  <p class="unpublished">Published in Unpublished Category</p>
<% end %>

<div id="information">
  <%=
    show_picture(
      @encyclopaedia_entry, 'encyclopaedia_entry_picture', :embedded
    )
  %>
  <%= raw markdown_to_html @encyclopaedia_entry.information %>
</div>

<%=
  raw(
    illustrated_markdown_to_html @encyclopaedia_entry.id,
    'EncyclopaediaEntry',
    @encyclopaedia_entry.content
  )
%>

<%= render 'encyclopaedia_entries/show/articles' %>
<%= render 'encyclopaedia_entries/show/downloads' %>
<%= render 'encyclopaedia_entries/show/links' %>
<%= render 'encyclopaedia_entries/show/music_tracks' %>
<%= render 'encyclopaedia_entries/show/pictures' %>
<%= render 'encyclopaedia_entries/show/poems' %>
<%= render 'encyclopaedia_entries/show/quizzes' %>
<%= render 'encyclopaedia_entries/show/resources' %>
<%= render 'encyclopaedia_entries/show/stories' %>
<%= render 'encyclopaedia_entries/show/videos' %>

<p class="links">
  <%= link_to 'Encyclopaedia', encyclopaedia_entries_path %> |
  <%=
    link_to(
      @encyclopaedia_entry.category.name,
      category_path(@encyclopaedia_entry.category)
    )
  %>
</p>
