<% title 'Drafts' %>

<% if current_user %>
  <% if current_user.administrator %>
    <p>
      There is a total of <%= pluralize(draft_count, 'draft') %> on the site.
    </p>
  <% elsif current_user.contributor_profile %>
    <p>
      You have a total of <%= pluralize(draft_count, 'draft') %>.
    </p>
  <% end %>
<% end %>

<% if draft_count > 0 %>
  <ul>
    <%= render 'drafts/index/news_entries' %>
    <%= render 'drafts/index/categories' %>
    <%= render 'drafts/index/encyclopaedia_entries' %>
    <%= render 'drafts/index/contributor_profiles' %>
    <%= render 'drafts/index/articles' %>
    <%= render 'drafts/index/downloads' %>
    <%= render 'drafts/index/music_tracks' %>
    <%= render 'drafts/index/albums' %>
    <%= render 'drafts/index/pictures' %>
    <%= render 'drafts/index/poems' %>
    <%= render 'drafts/index/quizzes' %>
    <%= render 'drafts/index/resources' %>
    <%= render 'drafts/index/stories' %>
    <%= render 'drafts/index/videos' %>
    <%= render 'drafts/index/pages' %>
  <ul>
<% end %>
