<% title "Drafts" %>

<% if policy(NewsEntry).new? or policy(Category).new? or 
  policy(EncyclopaediaEntry).new? or policy(Article).new? or 
  policy(Download).new? or policy(MusicTrack).new? or policy(Picture).new? or
  policy(Poem).new? or policy(Quiz).new? or policy(Resource).new? or
  policy(Story).new? or policy(Video).new? %>
  <h2>Create a New Draft</h2>
  <ul>
    <% if policy(NewsEntry).new? %>
      <li><%= link_to 'New News Entry', new_news_entry_path %></li>
    <% end %>
    <% if policy(Category).new? %>
      <li><%= link_to 'New Category', new_category_path %></li>
    <% end %>
    <% if policy(EncyclopaediaEntry).new? %>
      <li>
        <%= link_to 'New Encyclopaedia Entry', new_encyclopaedia_entry_path %>
      </li>
    <% end %>
    <% if policy(Article).new? %>
      <li><%= link_to 'New Article', new_article_path %></li>
    <% end %>
    <% if policy(Download).new? %>
      <li><%= link_to 'New Download', new_download_path %></li>
    <% end %>
    <% if policy(MusicTrack).new? %>
      <li><%= link_to 'New Music Track', new_music_track_path %></li>
    <% end %>
    <% if policy(Picture).new? %>
      <li><%= link_to 'New Picture', new_picture_path %></li>
    <% end %>
    <% if policy(Poem).new? %>
      <li><%= link_to 'New Poem', new_poem_path %></li>
    <% end %>
    <% if policy(Quiz).new? %>
      <li><%= link_to 'New Quiz', new_quiz_path %></li>
    <% end %>
    <% if policy(Resource).new? %>
      <li><%= link_to 'New Resource', new_resource_path %></li>
    <% end %>
    <% if policy(Story).new? %>
      <li><%= link_to 'New Story', new_story_path %></li>
    <% end %>
    <% if policy(Video).new? %>
      <li><%= link_to 'New Video', new_video_path %></li>
    <% end %>
  </ul>
<% end %>

<% if @categories.present? %>
  <h2>Draft Categories</h2>
  <%= render 'categories/list' %>
<% end %>
<% if @news_entries.present? %>
  <h2>Draft News Entries</h2>
  <%= render 'news_entries/list' %>
<% end %>
<% if @articles.present? %>
  <h2>Draft Articles</h2>
  <%= render 'articles/list' %>
<% end %>
<% if @downloads.present? %>
  <h2>Draft Downloads</h2>
  <%= render 'downloads/list' %>
<% end %>
<% if @encyclopaedia_entries.present? %>
  <h2>Draft Encyclopaedia Entries</h2>
  <%= render 'encyclopaedia_entries/list' %>
<% end %>
<% if @music_tracks.present? %>
  <h2>Draft Music Tracks</h2>
  <%= render 'music_tracks/list' %>
<% end %>
<% if @pictures.present? %>
  <h2>Draft Pictures</h2>
  <%= render 'pictures/list' %>
<% end %>
<% if @poems.present? %>
  <h2>Draft Poems</h2>
  <%= render 'poems/list' %>
<% end %>
<% if @quizzes.present? %>
  <h2>Draft Quizzes</h2>
  <%= render 'quizzes/list' %>
<% end %>
<% if @resources.present? %>
  <h2>Draft Resources</h2>
  <%= render 'resources/list' %>
<% end %>
<% if @stories.present? %>
  <h2>Draft Stories</h2>
  <%= render 'stories/list' %>
<% end %>
<% if @chapter_count > 0 %>
  <h2>Draft Chapters</h2>
  <%= render 'chapters/list' %>
<% end %>
<% if @videos.present? %>
  <h2>Draft Videos</h2>
  <%= render 'videos/list' %>
<% end %>
<% if @pages.present? %>
  <h2>Draft Pages</h2>
  <%= render 'pages/list' %>
<% end %>
