<% title "Drafts" %>

<% if @articles.present? %>
  <h2>Draft Articles</h2>
  <%= render 'articles/list' %>
<% end %>
<% if @categories.present? %>
  <h2>Draft Categories</h2>
  <%= render 'categories/list' %>
<% end %>
<% if @chapters.present? %>
  <h2>Draft Chapters</h2>
  <%= render 'chapters/list' %>
<% end %>
<% if @downloads.present? %>
  <h2>Draft Downloads</h2>
  <%= render 'downloads/list' %>
<% end %>
<% if @encyclopaedia_entries.present? %>
  <h2>Draft Encyclopaedia Entries</h2>
  <%= render 'encyclopaedia_entries/list' %>
<% end %>
<% if @music_tracks.present? %>
  <h2>Draft Music Tracks</h2>
  <%= render 'music_tracks/list' %>
<% end %>
<% if @news_entries.present? %>
  <h2>Draft News Entries</h2>
  <%= render 'news_entries/list' %>
<% end %>
<% if @pages.present? %>
  <h2>Draft Pages</h2>
  <%= render 'pages/list' %>
<% end %>
<% if @pictures.present? %>
  <h2>Draft Pictures</h2>
  <%= render 'pictures/list' %>
<% end %>
<% if @poems.present? %>
  <h2>Draft Poems</h2>
  <%= render 'poems/list' %>
<% end %>
<% if @quizzes.present? %>
  <h2>Draft Quizzes</h2>
  <%= render 'quizzes/list' %>
<% end %>
<% if @resources.present? %>
  <h2>Draft Resources</h2>
  <%= render 'resources/list' %>
<% end %>
<% if @stories.present? %>
  <h2>Draft Stories</h2>
  <%= render 'stories/list' %>
<% end %>
<% if @videos.present? %>
  <h2>Draft Videos</h2>
  <%= render 'videos/list' %>
<% end %>
