<div id="aside">
  <% if @sagas_for_left_nav.present? %>
    <h3>Browse by Saga</h3>
    <ul>
      <% @sagas_for_left_nav.each do |saga| %>
        <li><%= link_to saga.name, saga_path(saga) %></li>
      <% end %>
    </ul>
  <% end %>
  <h3>Browse by Media Type</h3>
  <ul>
    <% MediaType::all.each do |key, value| %>
      <li>
        <%= link_to value, send("#{key.to_s.pluralize}_path") %>
      </li>
    <% end %>
  </ul>
  <% if @partner_sites.present? %>
    <h3>Partner Sites</h3>
    <ul>
      <% @partner_sites.each do |partner_site| %>
        <li><%= link_to partner_site.name, partner_site.url %></li>
      <% end %>
    </ul>
  <% end %>
  <h3>Contributor Access</h3>
  <ul>
    <% if user_signed_in? %>
      <li>Logged in as
        <% if current_user.contributor_profile_id %>
          <%= current_user.contributor_profile.name %>
        <% else %>
          <%= current_user.email %>
        <% end %>
      </li>
      <li><%= link_to 'Admin Panel', admin_path %></li>
      <li><%= link_to 'Edit Profile', edit_user_registration_path %>
      <li>
        <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li><%= link_to 'Log In', new_user_session_path %></li>
    <% end %>
  </ul>
</div>
