<div id="aside">
  <% if @sagas_with_published_encyclopaedia_entries.present? %>
    <h3>Browse by Saga</h3>
    <ul>
      <% @sagas_with_published_encyclopaedia_entries.each do |saga| %>
        <% if saga.encyclopaedia_entry%>
          <% if policy(saga.encyclopaedia_entry).show? %>
            <li><%= link_to saga.name, saga_path(saga) %></li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  <% end %>
  <h3>Browse by Media Type</h3>
  <ul>
    <li><%= link_to 'Articles', articles_path %></li>
    <li><%= link_to 'Downloads', downloads_path %></li>
    <li><%= link_to 'Links', links_path %></li>
    <li><%= link_to 'Music', music_tracks_path %></li>
    <li><%= link_to 'Pictures', pictures_path %></li>
    <li><%= link_to 'Poems', poems_path %></li>
    <li><%= link_to 'Quizzes', quizzes_path %></li>
    <li><%= link_to 'Resources', resources_path %></li>
    <li><%= link_to 'Stories', stories_path %></li>
    <li><%= link_to 'Videos', videos_path %></li>
  </ul>
  <% if @partner_sites.present? %>
    <h3>Partner Sites</h3>
    <ul>
      <% @partner_sites.each do |partner_site| %>
        <li><%= link_to partner_site.name, partner_site.url %></li>
      <% end %>
    </ul>
  <% end %>
  <h3>Contributor Access</h3>
  <ul>
    <% if user_signed_in? %>
      <li>Logged in as
        <% if current_user.contributor_profile_id %>
          <%= current_user.contributor_profile.name %>
        <% else %>
          <%= current_user.email %>
        <% end %>
      </li>
      <li><%= link_to 'Admin Panel', admin_path %></li>
      <li><%= link_to 'Edit Profile', edit_user_registration_path %>
      <li>
        <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li><%= link_to 'Log In', new_user_session_path %></li>
    <% end %>
  </ul>
</div>
