<div id="aside">
  <% if @sagas_for_left_nav.present? %>
    <h3>Browse by Saga</h3>
    <ul>
      <% @sagas_for_left_nav.each do |saga| %>
        <li><%= link_to saga.name, top_level_page_path(saga) %></li>
      <% end %>
    </ul>
  <% end %>
  <h3>Browse by Media Type</h3>
  <ul>
    <% MediaType::all.each do |key, value| %>
      <li>
        <% if key === :literature %>
          <%= link_to value, literature_index_path %>
        <% else %>
          <%= link_to value, send("#{key.to_s.pluralize}_path") %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <%= render 'layouts/partner_sites' %>
  <% if user_signed_in? %>
    <h3>Contributor Access</h3>
    <ul>
      <li>Logged in as
        <% if current_user.contributor_profile_id %>
          <%= current_user.contributor_profile.name %>
        <% else %>
          <%= current_user.email %>
        <% end %>
      </li>
      <li><%= link_to 'Admin Panel', admin_path %></li>
      <li>
        <%= link_to 'Log Out', destroy_user_session_path %>
      </li>
    <% end %>
  </ul>
</div>
