<nav class="main-menu" aria-label="Main Menu">
  <input
    type="checkbox"
    id="main-menu__checkbox"
    name="menu-selection"
    class="main-menu__checkbox"
  />
  <ul class="main-menu__list">
    <li class="main-menu__list-item main-menu__list-item--home">
      <label class="main-menu__label">
        <%= link_to 'Home', root_url, class: 'home-link' %>
      </label>
    </li>
    <li class="main-menu__list-item">
      <label class="main-menu__label">
        <%= link_to 'About', '/about', class: 'about-link' %>
      </label>
    </li>
    <%= render(
      partial: 'layouts/sub_menu',
      locals: {
        category_name: 'Games',
        subcategory_names: [
          'Panzer Dragoon',
          'Panzer Dragoon II Zwei',
          'Panzer Dragoon Mini',
          'Panzer Dragoon Saga',
          'Panzer Dragoon Orta',
          'Panzer Dragoon: Remake',
          'Panzer Dragoon II Zwei: Remake',
          'Panzer Dragoon Voyage Record'
        ]
      }
    ) %>
    <%= render(
      partial: 'layouts/sub_menu',
      locals: {
        category_name: 'Gallery',
        subcategory_names: [
          'Fan Pictures',
          'Screenshots',
          'Product Pictures',
          'Official Art',
          'Maps',
          'Photos',
          'Magazine Scans'
        ]
      }
    ) %>
    <%= render(
      partial: 'layouts/sub_menu',
      locals: {
        category_name: 'More',
        subcategory_names: [
          'Literature',
          'Music',
          'Videos',
          'Downloads'
        ]
      }
    ) %>
    <li class="main-menu__list-item">
      <label class="main-menu__label">
        <%= link_to(
          'Forum',
          'https://discuss.panzerdragoonlegacy.com',
          class: 'about-link'
        ) %>
      </label>
    </li>
    <li class="main-menu__list-item main-menu__list-item--search search">
      <%= form_with url: search_index_path, method: :get do |form| %>
        <%= form.text_field :query, placeholder: 'Search...' %>
      <% end %>
    </li>
  </ul>
</nav>
