<nav class="main-menu" aria-label="Main Menu">
  <input
    type="checkbox"
    id="main-menu__checkbox"
    name="menu-selection"
    class="main-menu__checkbox"
  />
  <ul class="main-menu__list">
    <li class="main-menu__list-item main-menu__list-item--home">
      <label class="main-menu__label">
        <%= link_to 'Home', root_url, class: 'home-link' %>
      </label>
    </li>
    <li class="main-menu__list-item">
      <label class="main-menu__label">
        <%= link_to 'About', '/about', class: 'about-link' %>
      </label>
    </li>
    <%= render(
      partial: 'layouts/sub_menu',
      locals: {
        category_name: 'Games',
        subcategory_names: [
          'Panzer Dragoon',
          'Panzer Dragoon II Zwei',
          'Panzer Dragoon Mini',
          'Panzer Dragoon Saga',
          'Panzer Dragoon Orta',
          'Panzer Dragoon: Remake',
          'Panzer Dragoon II Zwei: Remake',
          'Panzer Dragoon Voyage Record'
        ]
      }
    ) %>
    <%= render(
      partial: 'layouts/sub_menu',
      locals: {
        category_name: 'Gallery',
        subcategory_names: [
          'Fan Pictures',
          'Screenshots',
          'Product Pictures',
          'Official Art',
          'Maps',
          'Photos',
          'Magazine Scans'
        ]
      }
    ) %>
    <%= render(
      partial: 'layouts/sub_menu',
      locals: {
        category_name: 'More',
        subcategory_names: [
          'Literature',
          'Music',
          'Videos',
          'Downloads'
        ]
      }
    ) %>
    <li class="main-menu__list-item sub-menu">
      <input
        type="checkbox"
        id="beyond-checkbox"
        name="menu-selection"
        class="main-menu__checkbox"
      />
      <label
        for="beyond-checkbox"
        class="main-menu__label sub-menu__title"
        aria-expanded="false"
        aria-controls="beyond-dropdown"
      >
        Beyond
      </label>
      <ul class="sub-menu__list" id="beyond-dropdown">
        <li class="sub-menu__list-item">
          <a href="https://discuss.panzerdragoonlegacy.com">
            <i class="fab fa-discourse"></i> Forum
          </a>
        </li>
        <li class="sub-menu__list-item">
          <a href="https://discordapp.com/invite/N3mrMh6">
            <i class="fab fa-discord"></i> Discord
          </a>
        </li>
        <li class="sub-menu__list-item">
          <a href="https://www.patreon.com/panzerdragoonlegacy">
            <i class="fab fa-patreon"></i> Patreon
          </a>
        </li>
        <li class="sub-menu__divider">
          <hr />
        </li>
        <li class="sub-menu__list-item">
          <a rel="me" href="https://mastodon.online/@PanzerDragoonLegacy">
            <i class="fab fa-mastodon"></i> Mastodon
          </a>
        </li>
        <li class="sub-menu__list-item">
          <a href="https://twitter.com/PanzerLegacy">
            <i class="fab fa-twitter"></i> Twitter
          </a>
        </li>
        <li class="sub-menu__list-item">
          <a href="https://www.facebook.com/panzerdragoonlegacy">
            <i class="fab fa-facebook-f"></i> Facebook
          </a>
        </li>
        <li class="sub-menu__list-item">
          <a href="https://www.instagram.com/panzerdragoonlegacy">
            <i class="fab fa-instagram"></i> Instagram
          </a>
        </li>
        <li class="sub-menu__list-item">
          <a href="https://www.youtube.com/c/panzerdragoonlegacy">
            <i class="fab fa-youtube"></i> YouTube
          </a>
        </li>
        <li class="sub-menu__divider">
          <hr />
        </li>
        <li class="sub-menu__list-item">
          <a href="https://panzerdragoon.fandom.com">
            <i class="fas fa-book-open"></i> Wiki
          </a>
        </li>
        <li class="sub-menu__list-item">
          <a href="https://steamcommunity.com/groups/panzerdragoon">
            <i class="fab fa-steam"></i> Steam Group
          </a>
        </li>
      </ul>
    </li>
    <li class="main-menu__list-item main-menu__list-item--search search">
      <%= form_with url: search_index_path, method: :get do |form| %>
        <%= form.text_field :query, placeholder: 'Search...' %>
      <% end %>
    </li>
  </ul>
</nav>
