<ul id="social_media_links">
  <li>
    <%= link_to fa_icon("facebook"), 
      "https://www.facebook.com/panzerdragoonlegacy" %>
  </li>
  <li>
  	<%= link_to fa_icon("twitter"), 
  	  "https://www.twitter.com/panzerlegacy" %>
  </li>
  <li>
  	<%= link_to fa_icon("youtube"), 
  	  "https://www.youtube.com/user/willancients" %>
  </li>
  <li>
  	<%= link_to fa_icon("steam"), 
  	  "https://steamcommunity.com/groups/panzerdragoonlegacy" %>
  </li>
  <li>
  	<%= link_to fa_icon("rss"), news_entries_url(:atom) %>
  </li>
</ul>
