<li class="main-menu__list-item sub-menu">
  <input
    type="checkbox"
    id="<%= category_name.parameterize %>-checkbox"
    name="menu-selection"
    class="main-menu__checkbox"
  />
  <label
    for="<%= category_name.parameterize %>-checkbox"
    class="main-menu__label sub-menu__title"
    aria-expanded="false"
    aria-controls="<%= category_name.parameterize %>-dropdown"
  >
    <%= category_name %>
  </label>
  <ul class="sub-menu__list" id="<%= category_name.parameterize %>-dropdown">
    <% subcategory_names.each do |subcategory_name| %>
      <li class="sub-menu__list-item">
        <%= link_to(
          subcategory_name,
          category_path(subcategory_name.parameterize)
        ) %>
      </li>
    <% end %>
    <% if category_name == 'More' %>
      <li class="sub-menu__divider"><hr /></li>
       <li class="sub-menu__list-item">
        <%= link_to(
          'Panzer Dragoon Wiki',
          'https://panzerdragoon.fandom.com'
        ) %>
      </li>
      <li class="sub-menu__divider"><hr /></li>
      <li class="sub-menu__list-item">
        <%= link_to 'Links', '/links' %>
      </li>
      <li class="sub-menu__list-item">
        <%= link_to(
          'News Archives',
          news_entries_path
        ) %>
      </li>
    <% end %>
  </ul>
</li>
