<!DOCTYPE html>
<html>
  <head>
    <title>The Will of the Ancients - <%= yield(:title) %></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="<%= yield(:description) %>" />
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= auto_discovery_link_tag(:atom, news_entries_path(:atom)) %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="overall">
      <%= render 'illustrations/popover' %>
      <div id="header">
        <%= link_to image_tag("logo.png", id: "logo", alt: "The Will of the Ancients: A Panzer Dragoon and Crimson Dragon Fan Site"), root_url %>
      </div>
      <div id="banner"></div>
      <div id="navigation">
        <label for="search" style="visibility:hidden;">Search:</label><input style="visibility:hidden;" id="search" type="text" value="" />
        <ul>
          <li><%= link_to "Latest News", root_url %></li>
          <li><%= link_to "Categories", categories_path %></li>
          <li><%= link_to "Encyclopaedia", encyclopaedia_entries_path %></li>
          <li><%= link_to "Forums", "http://forums.thewilloftheancients.com" %></li>
          <li><%= link_to "Dragoons", dragoons_path %></li>
        </ul>
      </div>
      <div id="main">
        <div id="aside">
          <% if current_dragoon %>
            <% if policy(current_dragoon).update? %>
              <h3>Your Details</h3>
              <ul>
                <li>You are logged in as <%= link_to current_dragoon.name, dragoon_path(current_dragoon) %>.</li>
                <li><%= link_to "Edit Profile", edit_dragoon_path(current_dragoon) %>
                <li><%= link_to "Log Out", log_out_path %></li>
                <li><%= link_to "Drafts", drafts_path %></li>
              </ul>
            <% else %>
              <h3>Welcome, Divine Visitor</h3>
              <ul>
                <li><%= link_to "Register", register_path %></li>
                <li><%= link_to "Log In", log_in_path %></li>
              </ul>
            <% end %>
          <% end %>
          <h3>Get Updates From...</h3>
          <ul>
            <li><%= link_to "Atom Web Feed", news_entries_url(:atom) %></li>
            <li><a href="https://www.facebook.com/thewilloftheancients">Facebook</a></li>
            <li><a href="https://www.twitter.com/willancients">Twitter</a></li>
          </ul>
          <h3>Explore the Games</h3>
          <ul>
            <% if EncyclopaediaEntry.find_by_url("panzer-dragoon").present? %>
              <li><%= link_to "Panzer Dragoon", "/encyclopaedia/panzer-dragoon"%></li>
            <% end %>
            <% if EncyclopaediaEntry.find_by_url("panzer-dragoon-ii-zwei").present? %>
              <li><%= link_to "Panzer Dragoon II Zwei", "/encyclopaedia/panzer-dragoon-ii-zwei"%></li>
            <% end %>
            <% if EncyclopaediaEntry.find_by_url("panzer-dragoon-mini").present? %>
              <li><%= link_to "Panzer Dragoon Mini", "/encyclopaedia/panzer-dragoon-mini"%></li>
            <% end %>
            <% if EncyclopaediaEntry.find_by_url("panzer-dragoon-saga").present? %>
              <li><%= link_to "Panzer Dragoon Saga", "/encyclopaedia/panzer-dragoon-saga"%></li>
            <% end %>
            <% if EncyclopaediaEntry.find_by_url("panzer-dragoon-orta").present? %>
              <li><%= link_to "Panzer Dragoon Orta", "/encyclopaedia/panzer-dragoon-orta"%></li>
            <% end %>
            <% if EncyclopaediaEntry.find_by_url("sega-ages-2500-series-vol-27-panzer-dragoon").present? %>
              <li><%= link_to "Sega Ages: Panzer Dragoon", "/encyclopaedia/sega-ages-2500-series-vol-27-panzer-dragoon"%></li>
            <% end %>
            <% if EncyclopaediaEntry.find_by_url("crimson-dragon-side-story").present? %>
              <li><%= link_to "Crimson Dragon: Side Story", "/encyclopaedia/crimson-dragon-side-story" %></li>
            <% end %>
            <% if EncyclopaediaEntry.find_by_url("crimson-dragon").present? %>
              <li><%= link_to "Crimson Dragon", "/encyclopaedia/crimson-dragon" %></li>
            <% end %>
          </ul>
          <h3>Browse by Media Type</h3>
          <ul>
            <li><%= link_to "Articles", articles_path %></li>
            <li><%= link_to "Downloads", downloads_path %></li>
            <li><%= link_to "Links", links_path %></li>
            <li><%= link_to "Music", music_tracks_path %></li>
            <li><%= link_to "Pictures", pictures_path %></li>
            <li><%= link_to "Poems", poems_path %></li>
            <li><%= link_to "Quizzes", quizzes_path %></li>
            <li><%= link_to "Resources", resources_path %></li>
            <li><%= link_to "Stories", stories_path %></li>
            <li><%= link_to "Videos", videos_path %></li>
            <% if policy(Emoticon).new? %>
              <li><%= link_to 'Emoticons', emoticons_path %></li>
            <% end %>
            <% if policy(Page).new? %>
              <li><%= link_to 'Pages', pages_path %></li>
            <% end %>
          </ul>
          <% unless @partner_sites.blank? %>
            <h3>Partner Sites</h3>
            <ul>
              <% @partner_sites.each do |partner_site| %>
                <li><%= link_to partner_site.name, partner_site.url %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
        <div id="content">
          <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <% end %>
          <h1><%= yield(:title) %></h1>
          <%= yield %>
        </div>
      </div>
      <div id="footer">
        <ul>
          <li><%= link_to "About the Site", "/about-the-site" %></li>
          <li><%= link_to "How to Contribute", "/how-to-contribute" %></li>
          <li><%= link_to "Copyright Information", "/copyright-information" %></li>
        </ul>
      </div>
    </div>
  </body>
</html>
