<!doctype html>
<html lang="en">
  <head>
    <title>
      Panzer Dragoon Legacy
      <% if yield(:title).present? %> - <%= yield(:title) %><% end %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="<%= yield(:description) %>" />
    <%= render 'layouts/open_graph_metadata' %>
    <%= favicon_pack_tag 'media/images/favicon.ico' %>
    <%= auto_discovery_link_tag(:atom, news_entries_path(:atom)) %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body tabindex="-1">
    <div class="layout">
      <header class="layout__header">
        <div class="layout__logo-and-main-menu-opener">
          <div class="layout__logo">
            <%= link_to(
              image_pack_tag(
                'media/images/logo-small.png',
                alt: 'Panzer Dragoon Legacy logo',
                srcset: [
                  ['media/images/logo-small.png', '767w'],
                  ['media/images/logo-medium.png', '768w']
                ],
                sizes: '(max-width: 767px) 285px, 768px'
              ),
              root_url
            ) %>
          </div>
          <div class="layout__main-menu-opener">
            <label
              for="main-menu__checkbox"
              aria-expanded="true"
              aria-controls="main-menu__list"
            >
              <i class="fas fa-bars"></i>
            </label>
          </div>
        </div>
        <%= render 'layouts/main_menu' %>
      </header>
      <%= render 'layouts/flash_messages' %>
      <% if yield(:title).present? %>
        <h1 class="layout__page-heading"><%= yield(:title) %></h1>
      <% end %>
      <main class="layout__page-content">
        <%= yield %>
      </main>
      <footer class="layout__footer"></footer>
    </div>
  </body>
</html>
