<!doctype html>
<html lang="en">
  <head>
    <title>
      Panzer Dragoon Legacy
      <% if yield(:title).present? %> - <%= yield(:title) %><% end %>
    </title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="<%= yield(:description) %>" />
    <%= render 'layouts/open_graph_metadata' %>
    <%= favicon_pack_tag 'media/images/favicon.ico' %>
    <%= auto_discovery_link_tag(:atom, news_entries_path(:atom)) %>
    <%= stylesheet_pack_tag 'redesign', media: 'all' %>
    <%= javascript_pack_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div>
      <%= render 'layouts/redesign/main_menu' %>
      <%= render 'layouts/redesign/flash_messages' %>
      <%= render 'layouts/redesign/page_heading' %>
      <%= yield %>
    </div>
  </body>
</html>
