<!doctype html>
<html lang="en">
  <head>
    <title>
      Panzer Dragoon Legacy
      <% if yield(:title).present? %> - <%= yield(:title) %><% end %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="<%= yield(:description) %>" />
    <%= render 'layouts/open_graph_metadata' %>
    <%= favicon_pack_tag 'media/images/favicon.ico' %>
    <%= auto_discovery_link_tag(:atom, news_entries_path(:atom)) %>
    <%= stylesheet_pack_tag 'redesign', media: 'all' %>
    <%= javascript_pack_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body tabindex="-1">
    <div class="layout">
      <header class="layout__header">
        <h1 class="layout__site-heading">Panzer Dragoon Legacy</h1>
        <%= render 'layouts/redesign/main_menu' %>
      </header>
      <%= render 'layouts/redesign/flash_messages' %>
      <% if yield(:title).present? %>
        <h1 class="layout__page-heading"><%= yield(:title) %></h1>
      <% end %>
      <main class="layout__page-content">
        <%= yield %>
      </main>
      <footer class="layout__footer"></footer>
    </div>
  </body>
</html>
