<%= form_for @news_entry do |f| %>  
  <%= render "shared/error_messages", :target => @news_entry %>
  <div>
    <%= f.label :name, "Name" %><br />
    <%= f.text_field :name %><br />
    (News entry names are limited to 55 characters and should describe the entry's content. The name should not end with a punctuation mark. All important words should start a capital letter, e.g. "Crimson Dragon: Side Story is Currently Unavailable".)
  </div>
  <div>  
    <%= f.label :content, "Content" %><br />
    <%= render 'shared/wysiwym_basic_buttons' %>
    <%= f.text_area :content, :class => "data_entry" %>  
  </div>
  <div>
    <%= f.check_box :publish %> <%= f.label :publish, "Publish?" %><br />
    (This news entry will be automatically posted to Twitter the first time that it is published. The tweet must be manually copy/pasted to Facebook and Google+. When posting to Facebook and Google+, you should add http:// to the start of the short URL within the post if necessary and remove the page preview to avoid clutter.)
  </div>
  <div>
    <%= f.submit "Save and View" %>
    <%= f.submit "Save and Continue Editing", name: :continue_editing %>
  </div>
<% end %>
