<%= form_for @news_entry do |f| %>
  <%= render "shared/error_messages", target: @news_entry %>
  <div>
    <div>
      <%= f.label :contributor_profile_id, 'Author*' %>
    </div>
    <div>
      <%=
        f.collection_select(
          :contributor_profile_id,
          ContributorProfile.order(:name),
          :id,
          :name,
          { include_blank: false }
        )
      %>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :news_entry_picture, 'News Entry Picture' %>
    </div>
    <div>
      <% if @news_entry.news_entry_picture? %>
        <%=
          image_tag @news_entry.news_entry_picture.url(:embedded)
        %>
        <p>File has already been uploaded. Replace file?</p>
      <% end %>
      <%= f.file_field :news_entry_picture %>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :name, 'Name*' %>
    </div>
    <div>
      <%= f.text_field :name %>
      <p>
        (News entry names are limited to 55 characters and should describe the
        entry's content. The name should not end with a punctuation mark. All
        important words should start a capital letter, e.g. "Crimson Dragon:
        Side Story is Currently Unavailable".)
      </p>
    </div>
  </div>
  <div>
    <div>
      <%= f.label :content, 'Content*' %>
    </div>
    <div>
      <%= f.text_area :content, rows: 15, class: 'data_entry' %>
      <p>
        (You may use a <a href="/markdown-syntax-guide" target="_blank">limited
        subset of Markdown</a> to format the news entry's content)
      </p>
    </div>
  </div>
  <% if policy(@news_entry).permitted_attributes.include? :publish %>
    <div>
      <%= f.check_box :publish %> <%= f.label :publish, 'Publish?' %>
    </div>
    <div>
      <p>
        (This news entry will be automatically posted to Twitter the first time
        that it is published. The tweet will then be posted to Facebook
        automatically by Twitter.)
      </p>
    </div>
  <% end %>
  <div>
    <%= f.submit 'Save and View' %>
    <%= f.submit 'Save and Continue Editing', name: :continue_editing %>
  </div>
<% end %>
