<% if @contributor_profile %>
  <% title "#{@contributor_profile.name}'s News Entries" %>
<% end %>

<% unless @contributor_profile %>
  <p class="news_entry_category_selector">
    <% if !params[:category] %>
      All
    <% else %>
      <%= link_to 'All', news_entries_path %>
    <% end %> |
    <% if params[:category] == 'news' %>
      News
    <% else %>
      <%= link_to 'News', news_entries_path(category: 'news') %>
    <% end %> |
    <% if params[:category] == 'contributions' %>
      Contributions
    <% else %>
      <%= link_to(
        'Contributions', news_entries_path(category: 'contributions')
      ) %>
    <% end %>
  </p>
<% end %>

<% if @news_entries %>
  <% @news_entries.each do |news_entry| %>
    <div class="resource">
      <h2 class="news_entry_index_heading">
        <%= link_to news_entry.name, news_entry %>
      </h2>
      <% if news_entry.news_entry_picture.present? %>
        <%= show_picture news_entry, 'news_entry_picture', :embedded %>
      <% end %>
      <div class="comment_thumbnail">
        <% if news_entry.contributor_profile.avatar_file_name.blank? %>
          <%= image_tag("default-avatar.jpg") %>
        <% else %>
          <%=
            image_tag news_entry.contributor_profile.avatar.url(:thumbnail)
          %>
          <br />
        <% end %>
      </div>
      <div class="comment_details">
        <p>
          <% if news_entry.publish %>
            Published by
          <% else %>
            Posted by
          <% end %>
          <%=
            link_to(
              news_entry.contributor_profile.name,
              news_entry.contributor_profile
            )
          %>
          <% if news_entry.publish %>
            <%= local_time_ago news_entry.published_at %>
          <% end %>
          <% if news_entry.category %>
            in <%= link_to(
              news_entry.category.name,
              news_entries_path(category: news_entry.category.url)
            ) %>
          <% end %>
          <% unless news_entry.publish %>
            - <span class="unpublished">Unpublished</span>
          <% end %>
        </p>
        <%= raw news_entry_markdown_to_html news_entry.content %>
      </div>
    </div>
  <% end %>
  <%= paginate @news_entries %>
<% end %>
