<% if @contributor_profile %>
  <% title "#{@contributor_profile.name}'s News Entries" %>
<% elsif @tag %>
  <% title "News Entries Tagged With #{@tag.name}" %>
<% elsif params[:year] %>
  <% title "News from #{params[:year]}" %>
<% else %>
  <% title 'News Archives' %>
<% end %>
<%= render partial: 'shared/meta_tags' %>

<% if @news_entry_years %>
  <p>Browse by Year</p>
  <ul>
    <% @news_entry_years.each do |year| %>
      <li><%= link_to year, "#{news_entries_path}?year=#{year}" %></li>
    <% end %>
  </ul>
<% else %>
  <% if @news_entries %>
    <%= render 'list' %>
    <%= paginate @news_entries %>
    <p class="links">
      <%= link_to 'News Archives', news_entries_path %>
    </p>
  <% end %>
<% end %>
