<% title @news_entry.name %>
<% if @news_entry.summary.present? %>
  <% description @news_entry.summary %>
<% else %>
  <% description truncated_text(@news_entry.content) %>
<% end %>
<% open_graph_type 'article' %>
<% if @news_entry.news_entry_picture.present? %>
  <% open_graph_image(
    ENV['WEBSITE_URL'].chomp('/') +
      @news_entry.news_entry_picture.url(:original)
  ) %>
<% end %>

<% if policy(@news_entry).edit? %>
  <p>
    <%= link_to 'Edit News Entry', edit_admin_news_entry_path(@news_entry) %>
  </p>
<% end %>

<div id="resources">
  <div class="resource">
    <% if @news_entry.news_entry_picture.present? %>
      <%= show_picture @news_entry, 'news_entry_picture', :embedded %>
    <% end %>
    <div class="comment_thumbnail">
      <% if @news_entry.contributor_profile.avatar_file_name.blank? %>
        <%= image_tag 'default-avatar.jpg' %>
      <% else %>
        <%= image_tag @news_entry.contributor_profile.avatar.url(:thumbnail) %>
        <br />
      <% end %>
    </div>
    <div class="comment_details">
      <p class="name_and_date">
        <% if @news_entry.publish %>
          Published by
        <% else %>
          Posted by
        <% end %>
        <%= link_to @news_entry.contributor_profile.name,
          @news_entry.contributor_profile %>
        <% if @news_entry.publish %>
          <%= local_time_ago @news_entry.published_at %>.
        <% end %>
        <% unless @news_entry.publish %>
          - <span class="unpublished">
            This news entry is not published. Please inform an administrator
            when it and any linked or embedded content is ready to be published.
          </span>
        <% end %>
      </p>
      <% if @news_entry.summary.present? %>
        <h3><%= @news_entry.summary %></h3>
      <% end %>
      <%= raw news_entry_markdown_to_html @news_entry.content %>
      <%= render partial: 'shared/related_tags' %>
    </div>
  </div>
</div>
